
@{
    ViewBag.Title = "AcompanhamentoEmpregadoAcidentado";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Acompanhamento Empregado Acidentado</h1>
        <p class="lead">Informações sobre o Empregados Acidentados</p>
        <hr class="my-2">
    </div>
    
</div>



    <div class="container">


        <div class="txtJus">


            <h3>O que é?</h3>
            É o acompanhamento psicológico de empregado acidentado ou restrito em sua capacidade laboral, através de
            intervenções terapêuticas breves, visando à preservação da saúde emocional e sua reintegração ao trabalho.
            <br>
            <br />

            <h3>Finalidade</h3>
            <p>
                Restabelecer a compatibilidade entre as condições emocionais e as exigências do cargo/função ou auxiliar o
                empregado a encontrar novas atividades compatíveis com o seu potencial. O acompanhamento se estende aos
                familiares com o objetivo de dar apoio e orientação psicológica, quando necessário.
            </p>


            <h3>Em que situações se aplica</h3>

            <p>Em casos de acidentes no trabalho e possíveis restrições laborais.</p>

            <h3>Como solicitar</h3>
            Entrar em contato diretamente com o Psicólogo Regional ou com a Gerência da DPR/ST
        </div>
    </div>
