
@{
    ViewBag.Title = "AcompanhamentoSocioFuncional";
}

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Acompanhamento Sócio-Funcional</h1>
            <p class="lead">Informações sobre o Acompanhamento Sócio-Funcional</p>
            <hr class="my-2">
        </div>
        <div>
        </div>



        <div class="container">


            <div class="txtJus">
                <h3>O que é?</h3>

                <p>
                    É uma forma de consultoria centrada no grupo, que resulta num diagnóstico e prognóstico da situação
                    comportamental e administrativa, com a conseqüente proposição de medidas corretivo-preventivas para os
                    problemas
                    porventura existentes.
                </p>


                <h4>Finalidade</h4>

                <p>Ser um instrumento de gestão de pessoas e assessoramento ao gerente.</p>


                <h4>Em que situações se aplica</h4>
                <ul>
                    <li> Dificuldades de relacionamento </li>
                    <li> Problemas administrativos </li>
                    <li> Conflitos interpessoais </li>
                    <li> Alterações sócio-funcionais </li>
                    <li> Outras situações comportamentais </li>
                </ul>
                <br>
                <br>



            </div>
        </div>
    </div>