
@{
    ViewBag.Title = "AssessoriaePalestras";
}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Assessoria e Palestras</h1>
        <p class="lead">Informações sobre assessoria e palestras.</p>
        <hr class="my-2">

    </div>
</div>

<!-- #UP-->
<div class="container">
    <ul id=top style="list-style-type: none;">
        <li>
            <a href="#">
                <i class="fas fa-4x fa-chevron-circle-up black" style="color: green;"></i></i>

            </a>
        </li>
    </ul>
</div>
<!-- #UP-->

<div class="container">
    <h3>ASSESSORIA</h3>
    <p>
        <h4>O que é</h4>
    </p>

    <p>
        Aplicação de conhecimentos técnicos com o objetivo de proporcionar às Gerências subsídios na área
        comportamental,
        para as decisões que lhes competem, no tocante à adequação do empregado ao seu trabalho e ambiência.
    </p>

    <p>
        <h4>Finalidade</h4>
    </p>
    <p>
        Prevenir comportamentos que interferem negativamente no desenvolvimento das atividades. Promoção e manutenção do
        bem-estar e segurança no trabalho.
    </p>

    <h5>Em que situações se aplica</h5>
    <ul>
        <li> Conflitos interpessoais</li>
        <li> Ocorrência de acidentes</li>
        <li> Absenteísmo</li>
        <li> Orientação e análise de produtos de RH</li>
        <li> Outras situações comportamentais.</li>
    </ul>

    <p>
        <h4>Como solicitar</h4>
    </p>
    <p>Entrar em contato diretamente com o Psicólogo Regional ou com a Gerência da DPR/ST</p>
    <hr>
    <br>
    <h5>PALESTRAS</h5>
    <p>
        <h5>O que é</h5>
    </p>
    <p>
        Realizar palestras com abordagem de temas relacionados ao trabalho, à vida em geral, aos aspectos emocionais, à
        organização, por demanda específica da área, levando em consideração o público e conteúdo temático.
    </p>

    <p>
        <h4>Finalidade</h4>
    </p>
    <p>Levar os empregados a refletir sobre os temas, de acordo com as necessidades das áreas e da organização.</p>

    <p>
        <h4>Em que situações se aplica</h4>
    </p>
    Por demanda das áreas, frente a reestruturações, implantação de novos processos, ferramentas de RH, SIPAT’s,
    seminários e outros eventos pontuais.

</div>