
@{
    ViewBag.Title = "AtribuicoesPsicologia";
}

<!-- #Jumbotron-->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Atribuições da Psicologia do Trabalho</h1>
        <p class="lead">Respeite a vida, trabalhe com segurança!</p>
        <hr class="my-4">

    </div>
</div>


<div class="container">
    <h3>Razão de existir</h3>
    <br>
    <div class="txtJus">
        <p>
            A Psicologia do Trabalho tem como objetivo promover e avaliar o estado de saúde psicológica do empregado;
            avaliar a
            persistência da compatibilidade das condições emocionais com as exigências do cargo e diagnosticar,
            precocemente,
            a
            correção de desvios de saúde.
        </p>

        <p>
            Busca a preservação dos recursos humanos, através de orientação aos empregados, ajudando-os a perceber a
            influência
            dos distúrbios emocionais no declínio do desempenho das tarefas e na ocorrência de acidentes.
        </p>

        <p>
            Através de técnicas psicológicas e procedimentos apropriados, tem-se como fim a melhor adequação do empregado
            ao
            seu
            trabalho e ambiência, por meio da promoção da saúde emocional.
        </p>

        <p>
            A função do Psicólogo do Trabalho consiste numa ação preventiva que busca o equilíbrio emocional do empregado,
            com
            vistas à sua segurança, integrada ao trabalho.
        </p>

    </div>
</div>

<br>
<br>