
@{
    ViewBag.Title = "AvaliacoesPsicologicas";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Avaliações Psicologicas</h1>
        <p class="lead">Informações sobre as Avaliações Psicológicas</p>
        <hr class="my-2">
    </div>
</div>

<div class="container">
    <div class="txtJus">
        <h3>O que é?</h3>

        <p>
            Detecção preventiva dos desajustes comportamentais que possam ocorrer com os empregados, dando atenção
            especial
            àqueles que exercem função de risco.
        </p>


        <h4>Finalidade</h4>

        <p>
            Desenvolver e adequar instrumentos de avaliação dos empregados, tais como testes e entrevista clínica, para
            atestar a capacidade laboral nos aspectos psicológicos, em compatibilidade com o cargo/função.
        </p>

        <br />

        <h5>Em que situações se aplica</h5>
        <ul>
            <li> Exame Admissional </li>
            <li> Mudança de Função </li>
            <li> Autorização para Dirigir Veículo</li>
            <li> Certificação de Operadores de Sistema Elétrico (ONS)</li>
            <li>
                Encaminhamentos do médico, assistente social, técnicos de enfermagem, técnicos de segurança, gerências;
                iniciativa própria,
            </li>
            <li> Avaliação do Potencial Residual - Readaptação profissional</li>
            <li> Avaliação de Retorno ao Trabalho.</li>
            </li>
        </ul>
        <br>

        <h5>Como solicitar</h5>
        <p>
            Através do Pedido de Avaliação de Saúde (formulário SESMT-2015 abaixo),indicando Inventário Especial de
            Saúde, e ‘Justificativa’, descrevendo o motivo da solicitação.
        </p>
    </div>
</div>

<br>