
@{
    ViewBag.Title = "Visitas a Locais de Trabalho";
}


<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Visitas a locais de Trabalho</h1>
        <p class="lead">Informações sobre Visitas a Locais de Trabalho</p>
        <hr class="my-2">

    </div>
</div>




<div class="container">
    <div class="txtJus">
            
        <p>
            <h3>O que é</h3>
        </p>
        <p>
            Desenvolvimento de projetos a partir de estudo e análise da tarefa e da ambiência, objetivando a
            implantação e
            execução de programas específicos para a promoção da saúde emocional dos empregados.
        </p>

        <h3>Finalidade</h3>
        <p>
            Buscar a compreensão do indivíduo na sua tarefa e ambiência, investigando fatores que dificultam ou
            impedem
            o pleno e seguro desempenho.
        </p>

        <p>Em que situações se aplica</p>
        <ul>
            <li> Estudos de ergonomia;</li>
            <li> Projetos de treinamento,</li>
            <li> Projetos de desenvolvimento de equipes;</li>
            <li> Acompanhamento de atividades no campo.</li>
        </ul>

        <p>
            <h3>Como solicitar</h3>
        </p>
        Entrar em contato diretamente com o Psicólogo Regional
    </div>
</div>