
@{
    ViewBag.Title = "AtribuicoesServiucoSocial";
}


<!-- #Jumbotron-->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Atribuições da Assistencia Social</h1>
        <p class="lead"></p>
        <hr class="my-4">

    </div>
</div>



<div class="container">
    <div class="txtJus">
        <h3> ATRIBUIÇÕES DO ASSISTENTE SOCIAL</h3>
        <br>
        <p>
            O Assistente Social atua na relação empregado/empresa, buscando promover o equilíbrio entre as partes, com o
            intuito de minimizar os problemas sociais que refletem negativamente na sua produtividade, participando da
            execução de programas corporativos, sociais e de saúde voltados para a melhoria do bem-estar social dos
            empregados e seus familiares. São suas principais atribuições :
        </p>

        <p>
            - Assessorar as gerências, gerindo os processos sociais e visando à qualidade de vida dos empregados, com
            foco
            na
            segurança do trabalho, saúde e bem-estar.
        </p>

        <p>
            - Prestar atendimentos sociais individuais, orientar, acompanhar, encaminhar, informar sobre os benefícios da
            Cemig, legislação previdenciária e trabalhista, recursos da Forluz, do Prosaúde, da comunidade e normas da
            empresa,
            encaminhando-os a outros setores da Cemig e a órgãos externos competentes.
        </p>

        <p>
            - Executar o atendimento social aos empregados em geral e seus dependentes, em suas necessidades de solução de
            conflitos familiares, problemas financeiros, de saúde ou social no trabalho, falecimento, aposentadoria,
            demissão.
        </p>

        <p>
            - Realizar estudos de casos em situações de desequilíbrio financeiro, promove palestras, ministra cursos, faz
            acompanhamento individual, propõe a concessão de Empréstimos Especiais ou Habitacionais, em consonância com a
            sua
            Política de Recursos Humanos.
        </p>

        <p>
            - Acompanhar, orientar, encaminhar empregados licenciados, com risco de desequilíbrio financeiro, devido ao
            afastamento, ou que já estejam em situação de débito junto à empresa.
        </p>

        <p>
            - Prestar atendimentos periódicos aos empregados expostos a risco de acidentes do trabalho ou de doenças
            profissionais, fazendo análise das situações sociais que podem levá-los à condição de trabalho insegura.
        </p>

        <p>
            - Coordenar o processo de readaptação profissional de empregados considerados inaptos para o exercício da
            função
            que ocupam, entrevistando-os, fazendo contatos com gerentes, supervisores, médicos, psicólogos e outros órgãos
            da
            empresa, emitindo parecer técnico e mantendo entendimentos com as Unidades de Referência de Reabilitação
            Profissional do INSS, dentro dos parâmetros legais.
        </p>

        <p>
            - Contribuir na prevenção de doenças e acidentes do trabalho, ministrando palestras sócio-educativas
            relacionadas
            aos temas (em Sipats ou quando solicitadas por outros órgãos), participando de Cipas e de comissões de apuração
            de
            acidentes, verificando possíveis causas sociais e avaliando, juntamente com outros profissionais, condições
            inseguras, através de visitas aos locais de trabalho, para subsidiar as Avaliações de Posto de Trabalho.
        </p>

        <p>
            - Prestar atendimento social aos empregados próprios e contratados acidentados do trabalho e a seus
            familiares,
            orientando, acompanhando e realizando contatos com profissionais de saúde, hospitais, instituições
            assistenciais,
            órgãos públicos, etc.
        </p>

        <p>
            - Prestar atendimento social em casos de acidentes com a população, orientando, acompanhando e realizando
            contatos
            com familiares, profissionais de saúde, hospitais, instituições assistenciais, órgãos públicos etc.,
            negociando,
            se
            necessário, as despesas que a empresa assumirá, dentro dos parâmetros das legislações previdenciária e
            trabalhista.
        </p>

        <p>
            - Participar da execução e coordenação de programas corporativos – Seminário de Preparação para Aposentadoria
            PPA e
            Programa de Orientação Médico-social sobre a Questão Materno-infantil, voltados para a melhoria do bem-estar
            social
            dos empregados e de seus familiares.
        </p>

        <p>
            - Realizar palestras sobre Benefícios Previdenciários, Aspectos Sociais do Acidente de Trabalho, Alcoolismo:
            Aspectos Sociais, Aspectos Sociais da Aids e DST.
        </p>

        <p>
            - Prestar atendimento social (plantão) em situação de urgência, fora do expediente, aos empregados acidentados
            e
            seus familiares, em caso de falecimento decorrente de acidente do trabalho, orientando-os e acompanhando-os,
            realizando contatos com profissionais de saúde, hospitais, serviços de ambulância terrestre e aérea, tomando
            decisões e negociando o custo das despesas, quando necessário, dentro dos limites financeiros estabelecidos e
            conforme critérios da empresa.
        </p>

        <p>
            - Prestar atendimento ao aposentado por invalidez, decorrente de acidente de trabalho ou doença ocupacional,
            orientando, analisando e propondo o pagamento de despesas com tratamento de saúde conseqüente ao acidente.
        </p>

        <p>
            - Coordenar a Cepap (Campanha Externa de Prevenção de Acidentes com a População) e, nos casos das populações
            atingidas por obras e outros empreendimentos da empresa, fazer análise, parecer e acompanhamento social.
        </p>

        <p>
            A Área de Bem-estar Social, como o próprio nome diz, busca promover o bem- estar social do empregado, visando
            conscientizar o empregado a ter a segurança como valor para si e para os colegas.
        </p>

    </div>
</div>


<br>
<br>