
@{
    ViewBag.Title = "Cepap";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Campanha Externa de Prevenção de Acidentes com a População</h1>
        <p class="lead">Informações sobre a Assitência Social da CEMIG</p>
        <hr class="my-2">

    </div>
</div>


<div class="container">
    <h3>Programas Sociais para as comunidades</h3>
    <p>
        - A área de Bem-estar realiza análise e emite parecer social sobre populações atingidas por LTs, obras e outros
        empreendimentos (Ex.: Energia fotovoltáica);
    </p>

    <p>
        - E também, coordena a Campanha Externa de Prevenção de Acidentes com a População - Cepap: Programa corporativo
        de
        prevenção de acidentes na rede elétrica com a população.
    </p>

    <h4>A CEPAP:</h4>
    <p><a href="#">Facilitadores da CEPAP nas regionais</a></p>

    <p><a href="#">CEPAP - Dados Estatísticos 2006 a 2014</a></p>

    <p><a href="#">CEPAP - Projeto da Campanha</a></p>


    <p><a href="#">CEPAP - Apresentação nas Escolas - Ensino Fundamental 2</a></p>

    <p><a href="#">CEPAP - Palestra para Contratados</a></p>

    <p><a href="#">Vídeos do Anjo Gabriel</a></p>
    <br>

    <h4>Formulários Úteis:</h4>
    <p><a href="#">- Planilha da Semana Nacional de Segurança com Eletricidade</a></p>

    <p><a href="#">- Programação de Palestras nas Escolas</a></p>

    <p><a href="#">- Programação de Palestras nas OBRAS e CONST. CIVIL</a></p>

    <p><a href="#">- Programação de Palestras para Contratados</a></p>

    <p><a href="#">- Programação de Torneios</a></p>

</div>

<br>