
@{
    ViewBag.Title = "Contato";
}


    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Contato</h1>
            <p class="lead">Contatos da Assitência Social da CEMIG</p>
            <hr class="my-2">

        </div>
    </div>

    <div class="container">
        <br>

        <div class="container">
            <div class="borderAss">
                <div class="row">
                    <div class="col-sm-4">
                        <strong>Assitente Social</strong>
                    </div>
                    <div class="col-sm-4">
                        <th><strong>Telefone</strong>
                    </div>
                    <div class="col-sm-4">
                        <th><strong>E-mail</strong>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    Daniela Mattos Almeida Dias
                </div>
                <div class="col-sm-4">
                    SIT: 982744 - (31) 3506-2744
                </div>
                <div class="col-sm-4">
                    daniela.dias@cemig.com.br
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    Elisangela Alves Gomes
                </div>
                <div class="col-sm-4">
                    SIT: 983388 - (31) 3506-3388
                </div>
                <div class="col-sm-4">
                    elisangela.gomes@cemig.com.br
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    Geisa Marques S. Boonen Maciel
                </div>
                <div class="col-sm-4">
                    SIT: 983392 - (31) 3506-3392
                </div>
                <div class="col-sm-4">
                    geisa@cemig.com.br
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    Ilva das Graças Ferreira Ribeiro
                </div>
                <div class="col-sm-4">
                    SIT: 982814 - (31) 3506-2814
                </div>
                <div class="col-sm-4">
                    ilva.ribeiro@cemig.com.br
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    Marina Coutinho Borges Gomes
                </div>
                <div class="col-sm-4">
                    SIT: 982690 - (31) 3506-2690
                </div>
                <div class="col-sm-4">
                    marina.gomes@cemig.com.br
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    Sarah Pardini Marques
                </div>
                <div class="col-sm-4">
                    SIT: 983383 - (31) 3506-3383
                </div>
                <div class="col-sm-4">
                    sarah.marques@cemig.com.br
                </div>
            </div>
        </div>
        
    </div>
  <br>