
@{
    ViewBag.Title = "GrupoDeAjuda";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Grupos de Ajuda - Recursos com a comunidade</h1>
        <p class="lead">Informações sobre a Assitência Social da CEMIG</p>
        <hr class="my-2">

    </div>
</div>





<div class="container">
    <div class="txtJus">
        <p>
            <h3>RECURSOS DA COMUNIDADE</h3>
        </p>
        <p>
            <h5>ONG oferece curso gratuito online sobre prevenção ao uso e abuso de álcool e drogas</h5>
        </p>

        <p>
            Já está disponível na Internet o primeiro curso online gratuito de prevenção do uso de drogas para pais. A
            iniciativa, que é da ONG Pais Conectados, tem o objetivo de auxiliar os pais a evitar que crianças e
            adolescentes iniciem o uso e o abuso de substâncias psicoativas. A capacitação está dividida em 198 capítulos.
        </p>

        <p>
            Interessados/as podem seguir a sugestão de ordem apresentada ou clicar no tema desejado. Os capítulos tratam
            sobre os riscos do tabaco, álcool e uma variedade de drogas ilícitas, incluindo, além dos sinais e sintomas,
            informações e conselhos úteis. Ao final de alguns capítulos, será disponibilizada uma atividade para verificar
            o aprendizado.
            A capacitação conta com apoio do Instituto Nacional de Ciência e Tecnologia para Políticas do Álcool e Outras
            Drogas e do CNPq.
        </p>

        <p>Acesse o conteúdo do treinamento através do link abaixo:</p>

        <a href="http://www.paisconectados.org/" target="_blank">Pais conectados</a>

        <p>
            <h5>GRUPOS DE AJUDA</h5>
        </p>

        <p><a href="http://www.aamg.org.br/" target="_blank">Alcoólicos Anônimos em Minas Gerais</a></p>

        <p><a href="http://www.na.org.br/" target="_blank">Narcóticos Anônimos</a></p>

        <p><a href="http://www.al-anon.org.br/mg.html" target="_blank">Endereços dos Grupos Familiares Al-anon em MG</a></p>

        <p><a href="">Comunidades Terapêuticas Tratamento Acoolismo e Drogas</a></p>
    </div>
</div>

<br>