
@{
    ViewBag.Title = "PalestrasDicasBemEstar";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Palestras e Dicas do Bem-Estar</h1>
        <p class="lead">Informações sobre a Assitência Social da CEMIG</p>
        <hr class="my-2">

    </div>
</div>

<div class="container">
    <ul id=top style="list-style-type: none;">
        <li>
            <a href="#">
                <i class="fas fa-4x fa-chevron-circle-up black" style="color: green;"></i></i>

            </a>
        </li>
    </ul>
</div>

<div class="container">

    <h3>PALESTRAS</h3>
    <br>

    <p><a href="">Alcoolismo_Aspectos_Sociais.pdf</p></a>


    <p><a href="">Apresentacao_da_Area_de_Bem_Estar.pdf</p></a>


    <p><a href="">Aspectos_Sociais_do_Acidente_do_Trabalho_Custos_Perdas_Servico_Contratado.pdf</p></a>


    <p><a href="">Assistencia Medico-Hospitalar ao acidentado.ppt</p></a>


    <p><a href="">A_Familia_Contemporanea_em_Debate.pdf</p></a>


    <p><a href="">COMO LIDAR COM AS PESSOAS COM DEFICIÊNCIA.pdf</p></a>


    <p><a href="">DPVAT.ppt</p></a>


    <p><a href="">ETICA.ppt</p></a>


    <p><a href="">INCLUSAO DA PESSOA COM DEFICIENCIA NA CEMIG.pdf</p></a>


    <p><a href="">O_Acidente_do_Trabalho_e_suas_Consequencias.pdf</p></a>


    <p><a href="">Planejamento do Orçamento Pessoal e Familiar.ppt</p></a>


    <p><a href="">Planilha para Planejamento do Orçamento Familiar.xlsx</p></a>


    <p><a href="">READAPTAÇÃO PROFISSIONAL.pdf</p></a>


    <p><a href="">Segurança com a População.ppt</p></a>


    <p><a href="">Variaveis_Sociais_do_Acidente_do_Trabalho.pdf</p></a>


</div>

<br>
<br>