
@{
    ViewBag.Title = "SaudeQualidadeDeVidaFinancasPessoais";
}


<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Saúde, Qualidade de Vida e Finanças Pessoais</h1>
        <p class="lead">Informações sobre a Assitência Social da CEMIG</p>
        <hr class="my-2">

    </div>
</div>


<div class="container">
    <h3>Saúde e Qualidade de Vida</h3>

    <h4>Orientações em grupo/palestras, encaminhamentos ou cursos sobre questões sociais de saúde e qualidade de vida.</h4>
    <p>Exemplos:</p>

    <p>- Aspectos Sociais da AIDS e Doenças Sexualmente Transmissíveis;</p>

    <p>- Dependência Química.</p>


    <p>Orientação e encaminhamento aos recursos de saúde pública, privados e internos (Prosaúde - PSI)</p>
    <p>Atendimento individual para orientações sociais relacionadas à saúde</p>
    <p>Atendimento às questões sociais no trabalho e familiares</p>
    <p>Convênio com Posto Odontológico do Sesi</p>

    <p>
        <h4>Programa do Orçamento Pessoal e Familiar - Finanças Pessoais</h4>
    </p>
    <p>- Oferece palestra ou curso de Orçamento Pessoal e Familiar aos empregados e também aos licenciados com Saldo</p>
    <p>Devedor. Público alvo: empregados e familiares</p>

    - Acompanhamento individual em casos de desequilíbrio financeiro.

</div>


<br>