
@{
    ViewBag.Title = "CadastroDeAcidentes";
}


<!-- #Jumbotron-->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Cadastro de Acidentes</h1>
        <p class="lead"></p>
        <hr class="my-4">

    </div>
</div>



<div class="container">
    <!--Texto-->

    <div class="conteiner">

        <div class="conteudo">

            <div class="text">

                <h3>Formulários para cadastro de acidentes</h3>

                <ul>
                    <li>
                        Formulário eletrônico para preenchimento da Comunicação de Incidente de Saúde e Segurança -
                        CIS - SESMT_1050<br />
                        | <a href="http://cemignet/ce/formularios/Formularios_na_Rede/SESMT_1050.xls" target="_blank">Padrão</a>
                        |
                    </li>
                </ul>



                <ul>
                    <li>
                        Formulário eletrônico para preenchimento da Comunicação de Acidente com Veículos - CAV <br />
                        | <a href="http://cemignet/ce/formularios/Formularios_na_rede/R_2422 Holding.DOC" target="_blank">Holding</a>
                        | <a href="http://cemignet/ce/formularios/Formularios_na_rede/R_2422 Distribuição.DOC"
                             target="_blank">Distribuição</a>
                        | <a href="http://cemignet/ce/formularios/Formularios_na_rede/R_2422 Geração e Transmissão.doc"
                             target="_blank">Geração e Transmissão</a>
                        |
                    </li>
                </ul>




                <ul>
                    <li>
                        <a href="cadastro_de_incidentes/cat.asp">
                            Manual de preenchimento de Comunicação de Acidente
                            do Trabalho - CAT
                        </a>
                    </li>
                </ul>



                <p>
                    Os acidentes graves e fatais ocorridos com Pessoal Próprio, Contratadas e População são
                    sintetizados e
                    encaminhados aos presidentes de Cipas e a todos os Técnicos de Segurança do Trabalho, para a
                    divulgação em suas
                    respectivas áreas de responsabilidade. Os relatórios de investigação de acidentes com Pessoal
                    Próprio e Contratadas,
                    após aprovação, são publicados no Gedoc.
                </p>

                <p>
                    As informações relativas a conceituação, comunicação e investigação de acidentes estão contidas
                    na IP 10.2,
                    publicada no manual de organização da Cemig.
                </p><br /><br />
            </div>
        </div>
    </div>
</div>


    <!-- #Texto -->

