
@{
    ViewBag.Title = "ClassificacaoDeAcidentes";
}

<!-- #Jumbotron-->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Classificações de Acidentes</h1>
        <p class="lead"></p>
        <hr class="my-4">

    </div>
</div>



<div class="container">
    <!--Texto-->

    <div class="conteiner">

        <div class="conteudo">

            <div class="text">
                <h5>CLASSIFICAÇÃO E CADASTRO DE ACIDENTES</h5>

                <ul>
                    A Cemig classifica os acidentes em três tipos básicos:

                    <li>Do trabalho</li>

                    <li>De trajeto</li>

                    <li>Doença ocupacional (profissional e do trabalho)</li>
                
                </ul>

                <p>
                    Para fins estatísticos, os dados dos acidentados do trabalho e por doença ocupacional são
                    utilizados para, além
                    de propor medidas de prevenção, comparar o desempenho entre as empresas do setor eletrico
                    nacional. Os dados dos
                    acidentados de trajeto são utilizados internamente.
                </p>

                <p>
                    <span class="bold">Todos</span> os acidentes <span class="bold">deverão ser</span>
                    obrigatoriamente cadastrados
                    no <span class="bold">S</span>istema de <span class="bold">M</span>onitoramento de <span class="bold">A</span>cidentes
                    e <span class="bold">R</span>iscos no <span class="bold">T</span>rabalho - <span class="bold">SMART</span>,
                    relacionando vítimas ou danos materiais, conforme a seguir:
                </p>

                <ul>
                    <li>Com empregado</li>

                    <li>Com contratado</li>

                    <li>De trânsito</li>

                    <li>Com prestador de serviço</li>

                    <li>Com estagiário</li>

                    <li>Com população</li>

                    <li>Com materiais</li>

                    <li>Com obra PART</li>
                </ul>

                <p>
                    A mensuração dos índices referentes a pessoal próprio, pessoal contratado e população -
                    classificados como
                    <span class="bold">acidentados</span> - é feita de acordo com o número de vítimas. O índice
                    referente a
                    veículos - classificado como <span class="bold">acidente com veículo</span> - é feito pelo
                    número de ocorrências
                    com veículos.
                </p>

                <h3>FORNECIMENTO DE DADOS ESTATÍSTICOS PELA DPR/ST</h3>

                <p>
                    <span class="bold">
                        Todo dia 20 de cada mês, ou no próximo dia útil, é realizada a extração dos
                        dados contidos no
                        SMART para a composição dos indicadores corporativos, que são apresentados mensalmente à
                        Diretoria Executiva e ao
                        Conselho de Administração.
                    </span>
                </p>

                <p>
                    <span class="bold">
                        Segundo a <a href="http://cemignet/ce/InfoAdm/Portal/QuadroAvisos/Circulares/dpr/2004/dpr0152004.pdf"
                                     target="_blank">DPR15</a>
                        de 20/02/2004 todos os acidentes fatais devem ser apresentados pelo Superintendente da área
                        na primeira reunião de Diretoria Executiva e/ou Conselho
                        Administrativo após a data do acidente.<br />
                        Cabe a cada Superintendente preparar esta apresentação e encaminhá-la à RH.
                    </span>
                </p>

                <h3>Manuais do Módulo SMART/HSM e CIS</h3>

                <ul>
                    <li>
                        <a href="cadastro_de_incidentes/MANUAL HSM.pdf" target="_blank">
                            Manual para
                            cadastrar acidentes no Sistema de Monitoramento de Acidentes e Riscos no Trabalho -
                            SMART HSM
                        </a>
                    </li>
                </ul>

                <ul>
                    <li>
                        <a href="cadastro_de_incidentes/HHT de Contratadas.pdf" target="_blank">
                            Manual para
                            cadastrar Horas Trabalhadas de contratadas no SMART HSM
                        </a>
                    </li>
                </ul>

                <ul>
                    <li>
                        <a href="cadastro_de_incidentes/CIS.pdf" target="_blank">
                            Apresentação - Manual para
                            preenchimento da CIS
                        </a>
                    </li>
                </ul>

                <h3>Formulários para cadastro de acidentes</h3>

                <ul>
                    <li>
                        Formulário eletrônico para preenchimento da Comunicação de Incidente de Saúde e Segurança -
                        CIS - SESMT_1050<br />
                        | <a href="http://cemignet/ce/formularios/Formularios_na_Rede/SESMT_1050.xls" target="_blank">Padrão</a>
                        |
                    </li>
                </ul>



                <ul>
                    <li>
                        Formulário eletrônico para preenchimento da Comunicação de Acidente com Veículos - CAV <br />
                        | <a href="http://cemignet/ce/formularios/Formularios_na_rede/R_2422 Holding.DOC" target="_blank">Holding</a>
                        | <a href="http://cemignet/ce/formularios/Formularios_na_rede/R_2422 Distribuição.DOC"
                             target="_blank">Distribuição</a>
                        | <a href="http://cemignet/ce/formularios/Formularios_na_rede/R_2422 Geração e Transmissão.doc"
                             target="_blank">Geração e Transmissão</a>
                        |
                    </li>
                </ul>




                <ul>
                    <li>
                        <a href="cadastro_de_incidentes/cat.asp">
                            Manual de preenchimento de Comunicação de Acidente
                            do Trabalho - CAT
                        </a>
                    </li>
                </ul>



                <p>
                    Os acidentes graves e fatais ocorridos com Pessoal Próprio, Contratadas e População são
                    sintetizados e
                    encaminhados aos presidentes de Cipas e a todos os Técnicos de Segurança do Trabalho, para a
                    divulgação em suas
                    respectivas áreas de responsabilidade. Os relatórios de investigação de acidentes com Pessoal
                    Próprio e Contratadas,
                    após aprovação, são publicados no Gedoc.
                </p>

                <p>
                    As informações relativas a conceituação, comunicação e investigação de acidentes estão contidas
                    na IP 10.2,
                    publicada no manual de organização da Cemig.
                </p><br /><br />
            </div>
        </div>
    </div>
</div>


    <!-- #Texto -->
