
@{
    ViewBag.Title = "EstatisticasDeAcidentes";
}

<!-- #Jumbotron-->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Estatísticas de Acidentes</h1>
        <p class="lead"></p>
        <hr class="my-4">

    </div>
</div>

