
@{
    ViewBag.Title = "ASO";
}

<!-- #Jumbo-->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Atestado de Saúde Ocupacional</h1>
        <p class="lead">Informações sobre ASO </p>
        <hr class="my-4">
    </div>
</div>


<!-- #Jumbo-->

<div class="Container">
    <div class="txtJus">
        <h3>ARQUIVAMENTO DE ASO:</h3>
        <br />

        <p>Conforme Nota Técnica da Secretaria de Segurança de Saúde no Trabalho de 1º de outubro de 1996:</p>

        <p>
            item 7.4.4.1: A 1ª via do ASO ficará arquivada no local de trabalho do trabalhador, inclusive frente de
            trabalho, ou canteiro de obras, à disposição do Ministério do Trabalho.
        </p>

        <p>item 7.4.4.2: A 2ª via do ASO será obrigatoriamente entregue ao trabalhador, mediante recibo da primeira via.    </p>
        

        <p>Logo, a 1ª via do ASO, deve ser arquivada na frente de trabalho do empregado à disposição do MTE.</p>

        <ol>
            <li>Na Cemig, emitimos o ASO em 3 vias:</li>

            <li>1ª via arquivo na RH/AP</li>

            <li>2ª via frente de trabalho</li>

            <li>3ª via empregado</li>
        </ol>
    </div>
</div>

