
@{
    ViewBag.Title = "AtribuicoesMedicina";
}

<!-- #Jumbotron-->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Atribuições da Medicina do Trabalho</h1>
        <p class="lead">    </p>
        <hr class="my-4">

    </div>
</div>


<div class="container">
    <h2>PRINCIPAIS ATRIBUIÇÕES DO MÉDICO DO TRABALHO</h2>

    <br>
    <div class="txtJus">
        <p>
            <span>
                <strong>COORDENAÇÃO, ELABORAÇÃO E EXECUÇÃO DE PCMSO:</strong> Coordenar, elaborar e executar o
                Programa de Controle Médico de Saúde Ocupacional - PCMSO e seus desdobramentos técnicos e legais.
            </span>
        </p>

        <p>
            <span>
                <strong>ATENDIMENTO MÉDICO:</strong> Realizar exames médicos ocupacionais de empregados, solicitando
                e interpretando exames complementares e/ou avaliações com especialistas, caso necessários. Diagnosticar,
                através
                de consultas e exames, doenças que atingem os profissionais. Realizar o primeiro atendimento de acidentes do
                trabalho, urgências e emergências, quando solicitado.
            </span>
        </p>

        <p>
            <span>
                <strong>ESTUDOS EPIDEMIOLÓGICOS E DE ABSENTEÍSMO:</strong> Coletar, consolidar e analisar dados
                estatísticos de absenteísmo, morbidade e mortalidade de empregados, investigando possíveis relações com as
                atividades funcionais, para emissão de relatórios estatísticos e proposição de medidas de controle.
            </span>
        </p>

        <p>
            <span>
                <strong>DESENVOLVIMENTO DE PROGRAMAS DE SAÚDE:</strong> Elaborar, coordenar e executar
                planos/programas nos níveis primário, secundário e terciário de prevenção em saúde.
            </span>
        </p>

        <p>
            <span>
                <strong>NAS QUESTÕES DE SAÚDE:</strong> Interagir com as gerências na solução de
                problemas de saúde que afetem o desempenho de empregados. Interagir com a assistente social, o psicólogo e o
                gerente no
                processo de readaptação profissional. Assessorar as gerências jurídicas nas questões médicas. Participar de
                perícias
                judiciais de terceiros e contratadas.
            </span>
        </p>

        <p>
            <span>
                <strong>AVALIAÇÃO DE RISCOS OCUPACIONAIS: </strong> Realizar visitas aos locais de trabalho e
                acompanhamento de atividades, identificando as inadequações e fatores de risco à saúde dos empregados.
                Utilizar
                as ferramentas de análise ergonômica e seus princípios, visando à melhoria nos diversos postos e processos de
                trabalho. Identificar os requisitos de saúde na montagem do perfil profissiográfico de cada função e cargo.
            </span>
        </p>

        <p>
            <span>
                <Strong> POLÍTICAS DE SAÚDE: </Strong> Elaborar normas, procedimentos e regulamentos internos de
                saúde, especialmente, a ocupacional.
            </span>
        </p><br /><br />
    </div>
</div>