
@{
    ViewBag.Title = "Duvidas Frequentes";
}

<!-- #Jumbo-->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Medicina do Trabalho - Dúvidas Frequentes</h1>
        <p class="lead">Informações sobre a Medicina do Trabalho da CEMIG</p>
        <hr class="my-4">
    </div>
</div>
<!-- #Jumbo-->



<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="border border-success">
                    <div class="card-body">
                        <h3 class="card-title">Uso de Carrapaticidas</h3>
                        <p class="card-text">Veja detalhes sobre o uso de Carrapaticidas</p>
                        <a href="duvidas_medicina_carrapaticidas.html" class="btn btn-primary">Veja</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="border border-success">
                    <div class="card-body">
                        <h3 class="card-title">Arco voltaico X lentes de contato</h3>
                        <p class="card-text">Veja detalhes sobre Arco voltaico X lentes de contato</p>
                        <a href="duvidas_medicina_arco_e_lente.html" class="btn btn-primary">Veja</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="border border-success">
                                <div class="card-body">
                                    <h3 class="card-title">Campanha de Conscientização sobre Cancer de Intestino</h3>
                                    <p class="card-text">Veja informações a sobre a campanha    </p>
                                    <a href="duvidas_medicina_campanha_cancer_intestino.html" class="btn btn-primary">Veja</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card">
                            <div class="border border-success">
                                <div class="card-body">
                                    <h3 class="card-title">Orientações relativas a bebedouros nos locais de Trabalho</h3>
                                    <p class="card-text">Veja informações sobre bebedouros nos locais de trabalho</p>
                                    <a href="duvidas_medicina_bebedouro.html" class="btn btn-primary">Veja</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
    <br><br><br><br>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="border border-success">
                    <div class="card-body">
                        <h3 class="card-title">Filtro Solar para quem Trabalha Exposto ao Sol</h3>
                        <p class="card-text">Veja informações sobre Filtro Solar</p>
                        <a href="duvidas_medicina_filtro_solar.html" class="btn btn-primary">Veja</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="border border-success">
                    <div class="card-body">
                        <h3 class="card-title">Marcapasso x Campo Eletromagnético</h3>
                        <p class="card-text">Veja informações sobre a Marcapasso x Campo Eletromagnético</p>
                        <a href="duvidas_medicina_marcapasso.html" class="btn btn-primary">Veja</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="border border-success">
                                <div class="card-body">
                                    <h3 class="card-title">Diabetes</h3>
                                    <p class="card-text">Veja informações sobre a Diabetes</p>
                                    <br>
                                    <a href="duvidas_medicina_diabetes.html" class="btn btn-primary">Veja</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="border border-success">
                                <div class="card-body">
                                    <h3 class="card-title">Doção de sangue</h3>
                                    <p class="card-text">Veja informações sobre doações de sangue</p>
                                    <br>
                                    <a href="duvidas_medicina_doar_sangue.html" class="btn btn-primary">Veja</a>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
    <br><br><br><br>
                <div class="row">


                    <div class="col-sm-6">
                        <div class="card">
                            <div class="border border-success">
                                <div class="card-body">
                                    <h3 class="card-title">Restrição Função de Risco </h3>
                                    <p class="card-text">Veja informações sobre a Restrição Função de Risco </p>
                                    <br>
                                    <a href="duvidas_medicina_restricao_funcao_risco.html" class="btn btn-primary">Veja</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="card">
                            <div class="border border-success">
                                <div class="card-body">
                                    <h3 class="card-title">Questionamento sobre a Água Oxigenada </h3>
                                    <p class="card-text">Veja informações sobre o Questionamento sobre a Água Oxigenada </p>
                                    
                                    <a href="duvidas_medicina_agua_oxigenada.html" class="btn btn-primary">Veja</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <br><br><br><br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="border border-success">
                                <div class="card-body">
                                    <h3 class="card-title">Contra-indicação da clara de ovo em queimaduras</h3>
                                    <p class="card-text">Veja informações sobre Contra-indicação da clara de ovo em queimaduras</p>
                                    <br />
                                    <a href="duvidas_medicina_contra_indicacoes_clara_ovo.html" class="btn btn-primary">Veja</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card">
                            <div class="border border-success">
                                <div class="card-body">
                                    <h3 class="card-title"> Orientação aos empregados que trabalham em área com maior risco de picadas de insetos</h3>
                                    <p class="card-text">Veja informações sobre empregados que trabalham em área com risco de picadas de insetos</p>
                                    <a href="duvidas_medicina_empregados_risco_insetos.html" class="btn btn-primary">Veja</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



</div>

