
@{
    ViewBag.Title = "ErgonomiaConceitos";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Ergonomia</h1>
        <p class="lead">Conceitos e Objetivos</p>
        <hr class="my-2">

    </div>
</div>

<div class="container">
    <ul id=top style="list-style-type: none;">
        <li>
            <a href="#">
                <i class="fas fa-4x fa-chevron-circle-up black" style="color: green;"></i></i>

            </a>
        </li>
    </ul>
</div>



<div class="container">
    <div class="txtJus">

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                            <H5>Conceito de Ergonomia</H5>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            “Disciplina científica relacionada ao entendimento das interações entre os seres humanos e outros
                            elementos ou
                            sistemas, e à aplicação de teorias, princípios, dados e métodos a projetos a fim de otimizar o
                            bem-estar humano
                            e o desempenho global do sistema.
                            Os ergonomistas contribuem para o planejamento, projeto e a avaliação de tarefas, postos de trabalho,
                            produtos,
                            ambientes e sistemas de modo a torná-los compatíveis com as necessidades, habilidades e limitações das
                            pessoas.” (ABERGO, 2013)
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <br>


        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                aria-controls="collapseTwo">
                            <H5>Desdobramento do Conceito</H5>
                        </button>
                    </h5>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            Disciplina orientada para uma abordagem holística e sistêmica de todos os aspectos da atividade
                            humana, tanto
                            em seus aspectos físicos e cognitivos, como sociais, organizacionais, ambientais, etc.
                        </p>

                        <p>
                            Disciplina que mobiliza saberes multidisciplinares, tais como engenharia, arquitetura, medicina,
                            enfermagem,
                            fisioterapia, psicologia e serviço social, para adaptar o trabalho às características, habilidades e
                            limitações
                            das pessoas, com vistas ao desempenho confortável, seguro e eficiente.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <br>

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                                aria-controls="collapseThree">
                            <H5>Objetivos</H5>
                        </button>
                    </h5>
                </div>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            Os objetivos do processo de Ergonomia na Cemig foram definidos a partir da Política de Segurança do
                            Trabalho,
                            Saúde Ocupacional e Bem-estar da Cemig, que estabelece em seu item 2.1:
                            “2.1 A identificação, a avaliação e o controle de riscos à segurança, saúde e bem-estar dos
                            trabalhadores....são partes integrantes das atividades realizadas em todos os processos de trabalho
                            desde a
                            elaboração de projetos até a construção, montagem, operação e manutenção de equipamentos e
                            instalações.”
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                                aria-controls="collapseFour">
                            <H5>Objetivos da Ergonomia na Cemig</H5>
                        </button>
                    </h5>
                </div>

                <div id="collapseFour" class="collapse hide" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        <p>Proporcionar conforto e qualidade de vida no trabalho; </p>

                        <p>Aumentar a segurança na execução das atividades; </p>

                        <p>Melhorar a produtividade da empresa; </p>

                        <p>Promover melhorias na interação humano-máquina; </p>

                        <p>Diminuir o índice de acidentes e adoecimentos no trabalho; </p>

                        <p>Mobilizar competências na integração entre empregados novatos e experientes. </p>

                        <p>Atender às exigências legais (NR-17). </p>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                                aria-controls="collapseFive">
                            <H5>Aplicação</H5>
                        </button>
                    </h5>
                </div>

                <div id="collapseFive" class="collapse hide" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        <p>A Ergonomia é aplicada nas seguintes situações: </p>

                        <p>
                            -Na fase de projeto e concepção de postos de trabalho, softwares, equipamentos, ferramentas e outros;
                        </p>

                        <p>-Na transformação das condições de trabalho de um setor; </p>

                        <p>-No atendimento a queixas pontuais que demandem orientações e soluções individualizadas </p>

                        <p>
                            Ergonomia Organizacional - Estrutura e cultura organizacional, regras e processos, comunicação,
                            trabalho
                            cooperativo e participativo, organizações em rede, gestão da qualidade.
                        </p>

                        <p>
                            Ergonomia Física - Postura no trabalho, manuseio de materiais, movimentos repetitivos, distúrbios
                            musculoesqueléticos relacionados ao trabalho, projetos de postos de trabalho (leiaute), saúde e
                            segurança.
                        </p>

                        <p>
                            Ergonomia Cognitiva - Carga mental de trabalho, tomada de decisão, desempenho especializado, interação
                            homem-computador, estresse profissional.
                        </p>

                        <p>
                            Ergonomia Informática (ou Ergonomia do Trabalho Informatizado) - Equipamentos dos postos de trabalho
                            informatizados (hardware), disposição física de equipamentos (leiaute), design, desenvolvimento e
                            adequação de
                            interfaces (softwares) às necessidades das tarefas.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                                aria-controls="collapseSix">
                            <H5>Dicas e Orientações</H5>
                        </button>
                    </h5>
                </div>

                <div id="collapseSix" class="collapse hide" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                        <p>- Recorra a seu superior hierárquico caso esteja em dúvida sobre a execução de seu trabalho. </p>

                        <p>
                            - Siga todos os procedimentos de trabalho e de segurança. Converse com seu superior hierárquico caso
                            tenha
                            ideias ou sugestões para melhoria dos procedimentos.
                        </p>

                        <p>- Converse com seu superior hierárquico caso haja dificuldades no cumprimento de suas metas. </p>

                        <p>- Avise seu superior hierárquico caso sua convivência com os colegas seja difícil. </p>

                        <p>
                            - Peça ao seu superior hierárquico que providencie uma solicitação de Inventário Médico, Psicológico
                            ou Social
                            caso você esteja passando por pressão emocional, problemas de saúde ou com familiares.
                        </p>

                        <p>- Siga as orientações informadas em treinamentos e palestras. </p>

                        <p>
                            - Fique atento aos sintomas causados pela permanência prolongada em atividades rotineiras e monótonas
                            ou em
                            atividades que demandem esforço físico.
                        </p>

                        <p>
                            - Não carregue sozinho peso acima do que você consegue. Peça ajuda ao colega ou avise seu supervisor
                            das
                            dificuldades, para que se crie uma forma de redução da carga.
                        </p>

                        <p>
                            - Tome cuidado com as posturas extremas (que solicitam em demasia articulações e músculos) e com as
                            posturas
                            estáticas. Tente sempre intercalar os gestos/movimentos.
                        </p>

                        <p>
                            - Evite a adoção de posturas estáticas associadas ao manuseio de peso, como braços acima da linha dos
                            ombros,
                            coluna flexionada e movimentos repetitivos.
                        </p>

                        <p>- Procure adotar posturas alternadas no decorrer do dia, pois a melhor postura é a dinâmica. </p>

                        <p>- Alterne atividades cognitivas: intercale momentos de concentração com momentos de relaxamento. </p>

                        <p>
                            - Além de intercalar entre si diferentes atividades cognitivas, intercale-as também com atividades
                            físicas.
                        </p>

                        <p>- No caso de atividades repetitivas, adote pausas. </p>

                        <p>
                            - Ao início de qualquer sintoma físico ou mental procure a Comissão Interna de Prevenção de Acidentes
                            – CIPA
                            ou os Serviços Especializados em Engenharia de Segurança e em Medicina do Trabalho – SESMT
                        </p>

                        <p>
                            - Relate à CIPA ou ao SESMT desconfortos relacionados ao ambiente de trabalho (calor, frio,
                            iluminação, ruído,
                            vibração, poeiras e afins).
                        </p>

                        <p>
                            - Peça orientação ao técnico de segurança de sua área sobre a melhor maneira de se trabalhar em
                            espaços
                            apertados. Pode ser o caso de mudar o procedimento de trabalho.
                        </p>

                        <p>- No caso de trabalhos a céu aberto, mantenha-se sempre hidratado e protegido dos raios solares. </p>

                        <p>
                            - Em serviços externos, não se esqueça de considerar na análise de riscos o perigo relacionado ao
                            trabalho em
                            comunidades de risco.
                        </p>

                        <p>
                            - Leia os manuais disponíveis de seu mobiliário, equipamentos ou ferramentas, para entender como são
                            feitas as
                            regulagens.
                        </p>

                        <p>
                            - Regule o mobiliário e equipamentos de forma a alcançar o máximo de conforto. Teste as posições, até
                            encontrar a que mais atenda as suas necessidades. Procure adotar posturas que não forcem articulações e
                            músculos.
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <br>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true"
                                aria-controls="collapseSeven">
                            <H5>Procure seguir os seguintes parâmetros para trabalho em situações informatizadas</H5>
                        </button>
                    </h5>
                </div>

                <div id="collapseSeven" class="collapse hide" aria-labelledby="headingSeven" data-parent="#accordion">
                    <div class="card-body">

                        <p>- Tela do monitor na altura dos olhos (no máximo). </p>

                        <p>- Monitor entre 50 e 70 cm de distância de você. </p>

                        <p>- Maior parte ou todo antebraço apoiado. </p>

                        <p>- Ângulo de 90º entre o braço e o antebraço. </p>

                        <p>- Coluna encostada na cadeira. </p>

                        <p>- Pés apoiados. </p>

                        <p>- Ombros relaxados. </p>

                        <p>- Objetos de uso mais frequente próximos ao seu alcance. </p>


                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<br>


