
@{
    ViewBag.Title = "IndicadoresMedicos";
}

<!-- #Jumbo-->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Indicadores Médicos</h1>
        <p class="lead">Informações sobre a Medicina do Trabalho da CEMIG</p>
        <hr class="my-4">
    </div>
</div>
<!-- #Jumbo-->




<!-- #Cards -->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 22rem;">
                <div class="border border-success">
                    <img class="card-img-top efeitoOpc" src="~/img/Indicador_medico.jpg" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h3 class="card-title">Indicador Médico 1</h3>
                        <p class="card-text">Veja aqui os indicadores medicos 1</p>
                        <br>

                        <a href="#" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 22rem;">
                <div class="border border-success">
                    <img class="card-img-top efeitoOpc" src="~/img/Indicador_medico2.jpg" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h3 class="card-title">Indicador Médico 2</h3>
                        <p class="card-text">Veja aqui os indicadores medicos 1</p>
                        <br>
                        <a href="#" class="btn btn-primary">Visitar</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 22rem;">
                <div class="border border-success">
                    <img class="card-img-top efeitoOpc" src="~/img/pexels-photo-905874.jpg" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h3 class="card-title">Indicador Médico 3</h3>
                        <p class="card-text">Veja aqui os indicadores medicos 1</p>
                        <br>
                        <a href="#" class="btn btn-primary">Visitar</a>
                    </div>
            </div>
            </div>
        </div>
    </div>
</div>