
@{
    ViewBag.Title = "PCMSO";
}


<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Programa de Controle Médico de Saúde Ocupacional</h1>
        <p class="lead">Informações sobre Programa de Controle Medico de Saúde Ocupacional</p>
        <hr class="my-2">

    </div>
</div>


<div class="container">

    <h3>1) Introdução</h3>

    <div class="txtJus">
        <p>
            A Cemig sempre se preocupou com a saúde e o bem-estar de seus empregados. Para que todos estejam em condições
            de exercer suas atividades da melhor forma possível. O PCMSO – Programa de Controle Médico de Saúde Ocupacional
            está previsto na Norma Regulamentadora nº 7 – NR-7, do Ministério do Trabalho e Emprego. Todos os empregados,
            de
            todas áreas da empresa, estão cobertos por ele e nenhum empregado pode se recusar a se submeter às avaliações
            clínicas nele determinadas. Antes de ser um dever, é um direito dos trabalhadores à proteção de sua saúde.
        </p>

        <p>Os seguintes tipos de exames são realizados:</p>

        <p>
            <strong>a) Exame Admissional:</strong>> é feito antes dos empregados assumirem suas atividades na
            empresa.
        </p>

        <p>
            <strong>b) Exames Periódicos:</strong> na Cemig são conhecidos como IPS – Inventário Periódico de
            Saúde. Podem ser exigidos uma vez por ano ou de dois em dois anos. O médico coordenador do PCMSO é quem decide
            qual a
            periodicidade indicada para cada empregado e pode optar pela realização em intervalos menores. A Norma
            Regulamentadora 7 – NR-7 prevê as seguintes periodicidades:
        </p>

        <p>
            <strong>(1) anual:</strong> para os empregados menores de 18 anos ou maiores de 45 anos; para os
            portadores de doenças crônicas e para aqueles que exercem atividades que, a médio ou longo prazo, podem
            acarretar
            algum tipo de dano à sua saúde.
        </p>

        <p>
            <strong>(2) bienal:</strong> para os empregados entre 18 e 45 anos que não apresentam nenhum tipo de
            doença crônica e não estão sujeitos a riscos, que possam afetar a sua saúde, na sua atividade.
        </p>

        <p>
            <strong>c) Exame de Retorno ao Trabalho:</strong> quando um empregado ou empregada é afastado(a) do
            trabalho por um período igual ou superior a 30 dias em decorrência de doença, acidente ou licença maternidade,
            é obrigatória a realização de avaliação clínica no primeiro dia de trabalho para saber se tem condição de
            exercer
            a sua função adequadamente, sem risco para si ou seus colegas. É obrigação de cada gerência encaminhar o
            empregado à Unidade Médica, munido do “Pedido de Avaliação de Saúde” (RHST_2015), tão logo ele retorne ao
            trabalho.
        </p>

        <p>
            <strong>d) Exame de Mudança de Função:</strong> pela NR-7, mudança de função é toda e qualquer
            alteração de atividade, posto ou ambiente de trabalho que implique em exposição a risco ocupacional não
            existente
            anteriormente. Nessas condições, torna-se obrigatória a realização de avaliação clínica, antes da exposição,
            com o intuito de verificar se aquele risco pode causar algum dano à saúde do empregado.
        </p>

        <p>
            <strong>e) Exame Demissional:</strong> é, obrigatoriamente, realizado antes da homologação do
            desligamento do empregado.
        </p>

        <p>
            Conheça o conteúdo da NR07, através do link: <a href="http://portal.mte.gov.br/data/files/8A7C812D308E21660130E0819FC102ED/nr_07.pdf"
                                                            target="_blank">
                NR7 - PCMSO
            </a>
            <br>
            <br />

            <h3>2) Cortando o mal pela raiz</h3>
            
        <p><strong>a) A Empresa</strong></p>
        <p>
            Apesar de ser obrigada pela legislação a realizar apenas os exames complementares que monitorizem os efeitos
            dos riscos ocupacionais sobre a saúde dos empregados, a Cemig vai além das exigências formais e inclui, em
            sua
            rotina, a realização de exames como eletrocardiograma, colesterol, triglicérides e glicose, dentre outros.
            Também
            realiza exames para a detecção precoce de cânceres de mama, de próstata e intestino.
        </p>

        <p><strong>b) O empregado</strong></p>

        <p>
            Se houver necessidade do aprofundamento da avaliação da saúde, o empregado conta com o PROSAÚDE, que permite
            que outros exames complementares sejam realizados. Assim, fica mais fácil diagnosticar e tratar as doenças
            mais
            cedo.
        </p>
        <br /><br />
        <h3>3) Energia Vital: investindo em um dia-a-dia mais saudável.</h3>

        <p>
            O Programa Energia Vital é outra iniciativa da Cemig que propõe uma vida mais saudável, a partir da mudança
            de hábitos e estilo de vida. São incentivadas a prática de esportes, a adoção de uma dieta mais equilibrada e
            adequada e o abandono do cigarro e das bebidas alcoólicas. Não basta fazer exames para avaliar a saúde. É
            preciso
            tomar atitudes para melhorá-la e para prevenir o surgimento das doenças.
        </p>
         <br /><br />
        <h3>4) Final</h3>

        <p>
            Agora que você já sabe a importância do PCMSO, não deixe para depois e nem faça corpo mole. Quando chegar a
            sua vez, marque presença.
        </p><br /><br>
    </div>
</div>