
@{
    ViewBag.Title = "AtribuicoesEngenharia";
}
<!-- #Jumbo-->

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Atribuições do Engenheiro de Segurança</h1>
        <p class="lead">Informações sobre a Engenharia de Segurança da CEMIG</p>
        <hr class="my-2">

    </div>
</div>


<div class="container">
<h3>Engenheiros de Segurança:</h3>
<br>
<div class="txtJus">
    <p>
        <span>
            <strong> Políticas de Segurança do Trabalho:</strong> Coordenar a elaboração, definir e promover a
            implantação de políticas, programas, normas, procedimentos, regulamentos e sistemas de segurança, zelando
            pela
            sua observância através de planos destinados a criar e desenvolver o estudo de fatores potenciais de
            acidentes.
        </span>
    </p>

    <p>
        <span>
            <strong> Gerenciamento de Riscos Ocupacionais:</strong> Formular, planejar e desenvolver a
            implantação de técnicas relativas ao gerenciamento e controle dos riscos e delimitação de áreas insalubres e
            perigosas,
            promovendo e executando planos destinados à prevenção de acidentes e manutenção da saúde dos empregados.
        </span>
    </p>

    <p>
        <span>
            <strong> Prevenção em Segurança do Trabalho: </strong> Estabelecer critérios, coordenar e acompanhar
            a escolha dos requisitos de aptidão para o exercício de funções insalubres e perigosas dos empregados,
            apontando
            e controlando os riscos decorrentes desses exercícios.
        </span>
    </p>

    <p>
        <span>
            <strong> Pareceres Técnicos de Segurança: </strong> Coordenar, supervisionar, assessorar e executar
            vistoria, avaliação, perícia, arbitramento, parecer e laudo técnico, estabelecendo medidas de controle sobre
            grau de exposição a agentes agressivos de riscos físicos, químicos e biológicos, pela caracterização de
            atividades,
            operações e locais insalubres e perigosos.
        </span>
    </p>

    <p>
        <span>
            <strong> Análise de Acidentes de Trabalho:</strong> Assessorar, coordenar, desenvolver e executar
            análises dos dados relativos a acidentes, causas, falhas, e não-conformidades, para propor e coordenar o
            conjunto de medidas preventivas no campo da segurança do trabalho, em face do conhecimento da natureza e
            gravidade das
            lesões provenientes dos acidentes de trabalho e doenças ocupacionais.
        </span>
    </p>

    <p>
        <span>
            <strong> Consultoria em Segurança do Trabalho: </strong>Realizar análises, desenvolvimento de
            estudos,
            orientações e elaboração de projetos de obras, instalações, máquinas e equipamentos, analisando e
            identificando
            pontos de riscos e propondo as medidas de controle pertinentes - inclusive a especificação de EPIs, de
            produtos
            químicos e outros materiais e ferramentas de trabalho. Desenvolver a elaboração, conduzir projetos e
            coordenar
            planos de atendimento a emergências e catástrofes, através da análise das características das atividades e
            fatores de riscos dos locais a serem protegidos.
        </span>
    </p>

    <p>
        <span>
            <strong> Disseminação da Cultura de Segurança</strong> Detectar necessidades, contribuir na
            elaboração de programas e ministrar treinamentos específicos relacionados a fatores de riscos, legislação de
            saúde e
            segurança, medidas preventivas e conscientização. Propor temas e formatos, e contribuir na elaboração de
            campanhas de
            conscientização e eventos, de forma a disseminar a cultura prevencionista.
        </span>
    </p>
</div>

  </div>