
@{
    ViewBag.Title = "AtribuicoesTecnico";
}


<!-- #Jumbo-->

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Atribuições do Técnico de Segurança</h1>
        <p class="lead">Informações sobre o Técnico de Segurança da CEMIG</p>
        <hr class="my-2">

    </div>
</div>



<div class="container">
    <h3>Técnicos de Segurança do Trabalho:</h3>


    <p><span class="bold">PORTARIA N.º 3.275 de 21 de Setembro de 1989</span></p>
    <p>Art. 1º - As atividades do Técnico de Segurança do Trabalho são as seguintes:</p>
    <p>
        I - informar o empregador, através de parecer técnico, sobre os riscos exigentes nos ambientes de trabalho, bem
        como orientá-los sobre as medidas de eliminação e neutralização;
    </p>

    <p>
        II - informar os trabalhadores sobre os riscos da sua atividade, bem como as medidas de eliminação e
        neutralização;
    </p>

    <p>
        III - analisar os métodos e os processos de trabalho e identificar os fatores de risco de acidentes do trabalho,
        doenças profissionais e do trabalho e a presença de agentes ambientais agressivos ao trabalhador, propondo sua
        eliminação ou seu controle;
    </p>

    <p>
        IV - executar os procedimentos de segurança e higiene do trabalho e avaliar os resultantes alcançados,
        adequando-os estratégias utilizadas de maneira a integrar o processo prevencionista em uma planificação,
        beneficiando o trabalhador;
    </p>

    <p>
        V - executar programas de prevenção de acidentes do trabalho, doenças profissionais e do trabalho nos ambientes
        de trabalho, com a participação dos trabalhadores, acompanhando e avaliando seus resultados, bem como sugerindo
        constante atualização dos mesmos estabelecendo procedimentos a serem seguidos;
    </p>

    <p>
        VI - promover debates, encontros, campanhas, seminários, palestras, reuniões, treinamentos e utilizar outros
        recursos de ordem didática e pedagógica com o objetivo de divulgar as normas de segurança e higiene do trabalho,
        assuntos técnicos, visando evitar acidentes do trabalho, doenças profissionais e do trabalho;
    </p>

    <p>
        VII - executar as normas de segurança referentes a projetos de construção, aplicação, reforma, arranjos físicos
        e de fluxos, com vistas à observância das medidas de segurança e higiene do trabalho, inclusive por terceiros;
    </p>

    <p>
        VIII- encaminhar aos setores e áreas competentes normas, regulamentos, documentação, dados estatísticos,
        resultados de análises e avaliações, materiais de apoio técnico, educacional e outros de divulgação para
        conhecimento e autodesenvolvimento do trabalhador;
    </p>

    <p>
        IX - indicar, solicitar e inspecionar equipamentos de proteção contra incêndio, recursos audiovisuais e
        didáticos
        e outros materiais considerados indispensáveis, de acordo com a legislação vigente, dentro das qualidades e
        especificações técnicas recomendadas, avaliando seu desempenho;
    </p>

    <p>
        X - cooperar com as atividades do meio ambiente, orientando quanto ao tratamento e destinação dos resíduos
        industriais, incentivando e conscientizando o trabalhador da sua importância para a vida;
    </p>

    <p>
        XI - orientar as atividades desenvolvidas por empresas contratadas, quanto aos procedimentos de segurança e
        higiene do trabalho previstos na legislação ou constantes em contratos de prestação de serviço;
    </p>

    <p>
        XII - executar as atividades ligadas à segurança e higiene do trabalho utilizando métodos e técnicas
        científicas,
        observando dispositivos legais e institucionais que objetivem a eliminação, controle ou redução permanente dos
        riscos de acidentes do trabalho e a melhoria das condições do ambiente, para preservar a integridade física e
        mental dos trabalhadores;
    </p>

    <p>
        XIII - levantar e estudar os dados estatísticos de acidentes do trabalho, doenças profissionais e do trabalho,
        calcular a freqüência e a gravidade destes para ajustes das ações prevencionistas, normas regulamentos e outros
        dispositivos de ordem técnica, que permitam a proteção coletiva e individual;
    </p>

    <p>
        XIV - articular-se e colaborar com os setores responsáveis pelo recursos humanos, fornecendo-lhes resultados de
        levantamento técnicos de riscos das áreas e atividades para subsidiar a adoação de medidas de prevenção a nível
        de
        pessoal;
    </p>

    <p>
        XV - informar os trabalhadores e o empregador sobre as atividades insalubre, perigosas e penosas existentes na
        empresa, seus riscos específicos, bem como as medidas e alternativas de eliminação ou neutralização dos mesmos;
    </p>

    <p>
        XVI - avaliar as condições ambientais de trabalho e emitir parecer técnico que subsidie o planejamento e a
        organização do trabalho de forma segura para o trabalhador;
    </p>

    <p>
        XVII - articular-se e colaborar com os órgãos e entidades ligados à prevenção de acidentes do trabalho, doenças
        profissionais e do trabalho.
    </p>

    <p>
        XVIII - particular de seminários, treinamento, congressos e cursos visando o intercâmbio e o aperfeiçoamento
        profissional.
    </p><br /><br />
</div>
