
@{
    ViewBag.Title = "CipaCemig";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">CIPA na CEMIG</h1>
        <p class="lead">Informações sobre a CIPA na CEMIG</p>
        <hr class="my-2">

    </div>
</div>

<br />

<div class="container">
    <h3>CIPA</h3>
    <br>
    <div class="txtJus">
        <p>
            A Comissão Interna de Prevenção de Acidentes - Cipa, conforme define a Norma Regulamentadora nº 5 do
            Ministério do Trabalho e Emprego - MTE, tem como objetivo a prevenção de acidentes e doenças
            decorrentes do
            trabalho, de modo a tornar compatível permanentemente o trabalho com a preservação da vida e a promoção
            da saúde do
            trabalhador.
        </p>

        <p>
            Todos os assuntos relacionados ao tema devem ser encaminhados à Cipa através dos seus representantes,
            que devem trabalhar de forma conjunta. A participação de cada um é um ato de responsábilidade em
            relação aos
            nossos direitos e deveres, não só como empregados, mas como cidadãos. Trata-se de uma comissão cujo
            objetivo maior é o
            bem-estar coletivo no que se refere à SSO&BE.
        </p>

        <br>
        <h4>DIMENSIONAMENTO</h4>
        <br>

        <p>
            Desde 2005, após reestruturação motivada pela desverticalização, acordada com a DRT e Entidades
            Sindicais, as Cipas da Cemig foram dimensionadas por estabelecimento, a partir de 20 empregado.
        </p>
        <br>
        <h4>RESPONSABILIDADES DA ENGENHARIA DE SEGURANÇA</h4>
        <br>
        <ul>
            <li>
                Manter controle das informações sobre as Cipas no que se refere à criação, dimensionamento,
                processo
                eleitoral, treinamento de membros, documentação, Sipat e Campanhas de Saúde e Segurança.
            </li>
            <br>
            <li>
                Acompanhar o funcionamento das Cipas, orientar, dar pareceres, apontar irregularidades e esclarecer
                dúvidas de aplicação da NR-5.
            </li>
            <br>
            <li>Elaborar instruções internas de aplicação da NR-5.</li>
            <br>
            <li>Definir e divulgar ações e cronograma básico do processo eleitoral.</li>
            <br>
            <li>
                Centralizar dossiê de controle de documentos de Cipa para eventual fiscalização do MTE e para
                encaminhamento às entidades sindicais, através da RH/RS.
            </li>
            <br>
            <li>
                Coordenar, junto à RH/EC, conteúdo programático e promoção do treinamento de membros de Cipa, modos
                presencial e online.
            </li>
            <br>
            <li>Atender demandas das Cipas relativas as atribuições do Sesmt.</li>
            <br>
            <li>Definir programação mínima para SIPAT.</li>
            <br>
            <li>Participar, quando acionada, de palestras em SIPAT.</li>
            <br />
            <br />

        </ul>
    </div>
</div>

