
@{
    ViewBag.Title = "InformacoesEPI";
}


<!-- #Jumbo-->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Equipamentos de Proteção Individual</h1>
        <p class="lead">Informações sobre epis </p>
        <hr class="my-4">
    </div>
</div>
<!-- #Jumbo-->

<div class="container">
    <ul id=top style="list-style-type: none;">
        <li>
            <a href="#">
                <i class="fas fa-4x fa-chevron-circle-up black" style="color: green;"></i></i>

            </a>
        </li>
    </ul>
</div>



<!-- #Cards-->


<div class="container">


    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="border border-success">
                    <div class="card-body">
                        <h5 class="card-title">Consulta CA</h5>
                        <p class="card-text">Veja os Certificados de Aprovação de EPI´s </p>
                        <a href="http://caepi.mte.gov.br/internet/ConsultaCAInternet.aspx" target="_blank" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="border border-success">
                    <div class="card-body">
                        <h5 class="card-title">Lista CONEM</h5>
                        <p class="card-text">Comitê de Normalização de Equipamentos e Materiais </p>
                        <a href="~/Arquivos/Lista CONEM.pdf" target="_blank" class="btn btn-primary">
                            Veja
                            aqui!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- #Cards-->