
@{
    ViewBag.Title = "PPRAOrientacoes";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">PPRA</h1>
        <p class="lead">Informações sobre Programa de Prevenção dos Riscos Ambientais</p>
        <hr class="my-2">

    </div>
</div>



<div class="container">


    <h5>PPRA - ORIENTAÇÕES TÉCNICAS - Atividades com o gás SF6</h5>
    <br>

    <div class="txtJus">
        <p>
            O hexafluoreto de enxofre é um gás inorgânico e inerte, logo asfixiante. A exposição em locais fechados
            pode causar tontura, cefaléia, dificuldade respiratória e eventual inconsciência devido à falta de
            oxigênio. Quando
            submetido a altas temperaturas, inclusive arco elétrico, se decompõe em vários fluoretos que são
            irritantes para as
            vias respiratórias podendo causar edema pulmonar.<br />
            Não existe controle biológico para o SF6.
        </p>

        <p>
            O manuseio do gás é feito somente quando há a necessidade de completar as câmaras do equipamento, o que
            é feito através da conexão de mangueira com o pino de engate, de forma que não ocorre nenhum tipo de
            contato
            com o gás. Caso ocorra algum pequeno vazamento, o gás se dissipa pelo ar uma vez que os equipamentos
            estão em locais
            abertos ou bem ventilados. Em condições normais de operação, este gás se decompõe e recombina, (não
            gerando os
            resíduos)
        </p>

        <p>
            Em caso de arco elétrico produzido dentro do equipamento em função de curto circuito pode haver geração
            de fluoretos metálicos, quando há falha de isolamento nas câmaras. Estes fluoretos se apresentam na
            forma de um pó
            branco visível no equipamento.
        </p>

        <p>
            O possível contato com o Fluoreto existe somente quando é necessário fazer manutenção dos equipamentos e
            é rara a necessidade dessa manutenção. Historicamente temos, em vinte anos de utilização foi feita
            apenas uma
            manutenção nos equipamentos, segundo a DC/MC.
        </p>

        <p>
            Para o caso de manutenção e abertura dos equipamentos é necessário programar e tomar algumas medidas de
            controle para evitar qualquer tipo de contato:
        </p>
        <ul>
            <li> Máscara do tipo MSA com dois cartuchos, protegendo o nariz, olhos e boca.</li>
            <li> Macacão do tipo TYVEK da Dupon que elimina qualquer contato físico com o pó residual.</li>
            <li> Aspirador de pó com reservatório descartável;</li>
            <li> big bag, saco plástico para resíduos.</li>
        </ul>

        <p>
            Após o serviço todos os materiais utilizados, que tiveram contato com o pó, devem ser descartados e
            enviados para o laboratório para neutralização.
        </p>

        <p>
            Caso não se perceba vestígios do pó branco, ao retirar o gás utilizando a máquina de tratamento de gás,
            o que houver ficará retido nos filtros de partícula da máquina. Antes de fazer contato físico com o
            interior do
            disjuntor, fazer uma limpeza com Nitrogênio, também utilizando a máquina.
        </p>

        <p>
            Diante do exposto, observa-se que no dia a dia de trabalho, não há exposição habitual dos empregados ao
            SF¨6 e fluoretos metálicos. Como o PPRA tem por objetivo monitorar os agentes a que os empregados
            efetivamente
            ficam expostos no seu trabalho habitual, não faz sentido mencionar estes agentes no PPRA.
        </p>

        <p>
            Entretanto, quando da utilização da metodologia Cemig (SGS) para a identificação dos fatores de riscos e
            avaliação dos riscos das atividades da área, a situação acima descrita deve ser contemplada e receber o
            devido
            tratamento.
        </p><br /><br />
    </div>
</div>
    