
@{
    ViewBag.Title = "PPRAProcedimentos";
}


<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">PPRA</h1>
        <p class="lead">Informações sobre Programa de Prevenção dos Riscos Ambientais</p>
        <hr class="my-2">

    </div>
</div>




<div class="container">



    <h5>Procedimentos internos:</h5>
    <br>
    <div class="txtJus">
        <p>
            A elaboração do PPRA deve seguir as orientações contidas na versão vigente da instrução corporativa
            IT-SESMT-4.4.6-009.
        </p>
        <p>
            O PPRA deve ser apresentado e discutido na CIPA, constando em ata, e ainda estar disponibilizado para
            fins
            de
            fiscalização no estabelecimento, conforme item 9.2.2.2 da NR-9.
        </p>

        <p>
            No caso de estabelecimentos em que estejam lotadas várias gerências mesma empresa, aquela com maior nº
            de
            subordinados
            é que deverá elaborar e manter o PPRA do respectivo estabelecimento.
        </p>

        <p>
            No caso de estabelecimentos em que estejam lotadas empresas diferentes, pertencentes ao Grupo Cemig,
            deverá
            ser
            elaborado PPRA para cada empresa, e desenvolvido um mecanismo de integração para avaliação das áreas
            comuns.
        </p>

        <p>
            No caso de estabelecimentos em que existam Cipa unificada, o PPRA deverá ser elaborado por empresa, sob
            a
            responsabilidade da gerência com maior nº de empregados lotados no estabelecimento.
        </p>

        <p>
            A elaboração e manutenção do PPRA deverá contar com a ajuda de um Técnico de Segurança do Trabalho e
            apoio
            da
            DPR/ST.
        </p>

        <p>
            Os dados do PPRA são parte fundamentais para o preenchimento do Programa de Controle Médico de Saúde
            Ocupacional
            - PCMSO
            e do Perfil Profissiográfico Previdenciário - PPP.
        </p>

        <p>
            O PPRA deve contemplar apenas os riscos físicos, químicos e biológicos. Os riscos mecânicos, do grupo de
            riscos
            de
            acidentes, como choque elétrico e queda de altura, não fazem parte do escopo do PPRA. Esses riscos
            devem
            ser
            tratados
            em programas como o sistema de gestão de saúde e segurança - SGS, inspeções do indice de segurança
            praticada -
            ISP e nos
            planos de segurança das áreas. A informação sobre como são tratados os riscos não incluidos no PPRA,
            deve
            estar
            no corpo
            do documento-base do PPRA, a fim de atender as exigências da DRT sobre a explicitação das informações.
        </p><br /><br />

    </div>
</div>
    