
@{
    ViewBag.Title = "SIPAT";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">SIPAT</h1>
        <p class="lead">Informações sobre Semana Interna de Prevenção de Acidentes do Trabalho</p>
        <hr class="my-2">

    </div>
</div>
<br />

<div class="container">
    <div class="txtJus">
        <h5>SIPAT</h5>
        <p>
            Os objetivos primordiais da SIPAT são conscientizar todos os empregados quanto à necessidade de se
            evitar os acidentes e doenças ocupacionais e promover a integração entre os empregados e os membros da
            CIPA,
            contribuindo para aprimorar e integrar a Política de Saúde, Segurança e Bemestar da Cemig.
        </p>

        <br>
        <h3>Programação:</h3>


        <p>
            A SIPAT é uma semana dedicada à prevenção de doenças e acidentes do trabalho. É importante que a
            comissão organizadora faça a programação dos eventos de forma a contemplar toda a semana, ou seja,
            devem ser
            previstas atividades durante os 5 (cinco) dias da semana (de segunda a sexta). No caso de programações
            onde as
            palestras/dinâmicas propriamente ditas não ocorram em todos os dias, pode-se planejar e registrar, nos
            demais dias,
            pequenas intervenções nas rotinas de trabalho, como, por exemplo, a panfletagem, concurso de frases e
            enquetes voltadas à prevenção e a performance de grupos artísticos nos corredores/pátios/instalações
            por onde transitem os
            empregados. A IST-SESMT-4.4.3-001-003-Semana Interna de Prevenção de Acidentes do Trabalho - SIPAT
            orienta sobre a sua realização.
        </p>


    </div>
</div>
