
@{
    ViewBag.Title = "TreinamentoCIPA";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Treinamentos CIPA na CEMIG</h1>
        <p class="lead">Informações sobreos treinamentos da CIPA na CEMIG</p>
        <hr class="my-2">

    </div>
</div>

<br />

<div class="container">

    <h3>Treinamento Presencial na UNIVERCEMIG</h3>
    <div class="txtJus">
        <br>

        <p>
            O treinamento para membros de Cipa é obrigatório, conforme previsto na NR5. Na CEMIG a gestão dos
            treinamentos é feita pela RH/EC - Univercemig.
            O treinamento em primeiro mandato pode ocorrer na forma presencial para os componentes em seu primeiro
            mandato na comissão (ou reencaminhados após mais de um período de mandato), podendo ocorrer nas
            dependências da RH/EC
            Campus da Univercemig, em Sete Lagoas, ou de forma descentralizada conforme critérios definidos
            anualamente
            pela RH/EC. O treinamento oferecido aos membros titulares, suplentes e designados, possui carga horária
            de
            24 horas,
            sendo seu conteúdo programático regulamentado aderente ao mínimo legal, tendo coordenação instrucional
            da
            RH/EC e coordenação técnica da DPR/ST.
        </p>

        <p>O conteúdo programático do treinamento presencial está listado abaixo:</p>


        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <strong>Módulo</strong>
                </div>
                <div class="col-sm-5">
                    <strong>Assunto</strong>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4">
                    <strong>1</strong>
                </div>
                <div class="col-sm-5">
                    Segurança
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4">
                    <strong>2</strong>
                </div>
                <div class="col-sm-5">
                    Cipa
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4">
                    <strong>3</strong>
                </div>
                <div class="col-sm-5">
                    Equipamento de Proteção Individual - EPI
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4">
                    <strong>4</strong>
                </div>
                <div class="col-sm-5">
                    Análise de Risco
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4">
                    <strong>5</strong>
                </div>
                <div class="col-sm-5">
                    Mapa de Risco
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <strong>6</strong>
                </div>
                <div class="col-sm-5">
                    Investigação de Acidentes
                </div>

            </div>


            <div class="row">
                <div class="col-sm-4">
                    <strong>7</strong>
                </div>
                <div class="col-sm-5">
                    Inspeção das Condições Ambientais de Trabalho
                </div>

            </div>


            <div class="row">
                <div class="col-sm-4">
                    <strong>8</strong>
                </div>
                <div class="col-sm-5">
                    Higiene Ocupacional

                </div>

            </div>


            <div class="row">
                <div class="col-sm-4">
                    <strong>9</strong>
                </div>
                <div class="col-sm-5">
                    Aspectos Jurídicos
                </div>

            </div>


            <div class="row">
                <div class="col-sm-4">
                    <strong>10</strong>
                </div>
                <div class="col-sm-5">
                    Aspectos Comportamentais
                </div>

            </div>


            <div class="row">
                <div class="col-sm-4">
                    <strong>11</strong>
                </div>
                <div class="col-sm-5">
                    Noções de Primeiros Socorros
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4">
                    <strong>12</strong>
                </div>
                <div class="col-sm-5">
                    Proteção e Combate a Incêndio
                </div>

            </div>

        </div>



    </div>
</div>