
@{
    ViewBag.Title = "InstrucoesSESMT";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Instruções do SESMT</h1>
        <p class="lead">
            Veja aqui as Instruções sobre os Serviços Especializados em Engenharia de Segurança e em
            Medicina do Trabalho
        </p>
        <hr class="my-2">
    </div>
</div>
<br />
<br />

<div class="container">
    <div class="text">
        <h5>MANUAL TÉCNICO DE SSO&BE</h5>

        <div class="txtJus">
            <p>
                A padronização dos procedimentos de trabalho constitui uma importante ferramenta de prevenção,
                disseminando
                as práticas seguras e contribuindo
                para a redução de incidentes na Empresa.
            </p>

            <p>
                A DPR/ST, como responsável pela implementação da Política de Saúde, Segurança e Bem-estar na CEMIG,
                estabelece, por meio destas instruções, as
                diretrizes a serem seguidas pelos diversos órgãos da CEMIG na elaboração de suas respectivas
                instruções.
                Para que gerem benefícios para a empresa
                e seus empregados, é imprescindível, no entanto, que sejam implementadas e utilizadas no dia-a-dia.
            </p>

            <p><span><strong> TÉCNICO DE SSO&BE</strong></span><br />

            <p>
                O objetivo do Manual Técnico de SSO&BE é apresentar as diretrizes e requisitos técnicos de
                saúde,
                segurança ocupacional e bem-estar a serem seguidos por todos os
                trabalhadores próprios, contratados e de empresas contratadas, de todas as áreas da Empresa -
                técnicas,
                administrativas ou operacionais, sem exceção, e independente
                de possuírem ou não sistema de gestão de saúde e segurança implantado. Para acessar o conteúdo
                do
                manual, clique no título a seguir:<br /><br />
</div>
               <!--Lista de Links dos arquivos-->
               <div class="conteiner">

                    <div class="conteudo">

                        <div class="text">
                            <h5>INSTRUÇÕES DE TRABALHO - SESMT</h5><br />

                            <ul>
                                <li>
                                    <a <target="_blank"> Modelo HIRA-CEMIG</a><br /><br />
                                    <ul>
                                        <li>
                                            <a href="~/Arquivos/A_IT_SESMT-4 3 1-001f_ Hira-Cemig_22-04-19.pdf" target="_blank">
                                                IT-SESMT-4.3.1-001f - Gestão dos Riscos de SST - Modelo HIRA-CEMIG - 22/04/2019
                                            </a><br /><br />

                                        <li>
                                            <a href="~/Arquivos/B_IST_SESMT-4 3 1-001-001a_Perfil de Risco_22-04-19.pdf" target="_blank">
                                                IST-SESMT-4 3 1-001-001a- Critérios para elaboração do Perfil de Risco HIRA-CEMIG - 22/04/2019
                                            </a><br /><br />
                                            
                                        <li>
                                            <a href="~/Arquivos/C_IST_SESMT-4 3 1-001-002a_ Perfil Psicossocial_22-04-19.pdf" target="_blank">
                                                IST-SESMT-4 3 1-001-002a- Critérios para elaboração do Perfil Psicossocial HIRA-CEMIG - 22/04/2019
                                            </a><br /><br />

                                        <li>
                                            <a href="~/Arquivos/D_Perfil de Risco Hira-Cemig_22-04-19.xlsx" target="_blank">
                                                Planilha - Perfil de Risco HIRA-CEMIG
                                            </a><br /><br />

                                        <li>
                                            <a href="~/Arquivos/E_Perfil Psicossocial Hira-Cemig_22-04-19.xlsx" target="_blank">
                                                Planilha - Perfil Psicossocial HIRA-CEMIG
                                            </a><br /><br />

                                        <li>
                                            <a href="~/Arquivos/F_PONTOS DE VERIFICAÇÃO.docx" target="_blank">
                                                Pontos de Verificação Ergonômica - Lista em Word
                                            </a><br /><br />

                                        <li>
                                            <a href="~/Arquivos/Pontos de Verificacao Ergonomica_Fundacentro.pdf" target="_blank">
                                                Pontos de Verificação Ergonômica - Livro com Orientações
                                            </a><br /><br />
                                        <li>
                                            <a href="~/Arquivos/PRIMA.pdf" target="_blank">
                                                PRIMA-EF (Tradução SESI)
                                            </a><br /><br />

                                        <li>
                                            <a href="~/Arquivos/capacitados.pdf" target="_blank">
                                                Lista de pessoal capacitado no Modelo Hira-Cemig
                                            </a><br /><br />
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4 3 1-002_c_Análise de Risco.pdf" target="_blank">
                                        IT- SESMT-4.3.1-002c Análise de Risco - 28/12/2016
                                    </a><br /><br />

                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4 4 1-001k_Autorização Formal.pdf" target="_blank">
                                        IT-SESMT-4.4.1-001 Autorização Formal para fins de cumprimento daS Normas NR10, NR33 e NR35 - 08/11/2016
                                    </a><br /><br />
                                </li>
                             
                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4.4.2-001_OrientacoesNR10.pdf" target="_blank">
                                        IT-SESMT-4.4.2-001 Treinamentos e Orientações para Atendimento ao Item 10.8 da NR-10 - 13/05/2011
                                    </a><br /><br />
                                </li>
                               
                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4.4.3-001_Comunicação Participação e Consulta.pdf" target="_blank">
                                        IT-SESMT-4.4.3-001 Comunicação Participação e Consulta de Assuntos Relativos
                                        a Gestão de SSO&BE - 14/11/2008
                                    </a><br /><br />
                                </li>
                            
                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4.4.5-001b_Elaboração de Proced Trabalho.pdf" target="_blank">
                                        IT-SESMT-4.4.5-001 Critérios de Segurança para a Elaboração de Procedimentos de Trabalho - 03/06/2019
                                    </a><br /><br />
                                </li>
                      
                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4 4 6-001g_Coord Def Critér Utiliz EPIx.pdf" target="_blank">
                                        IT-SESMT-4.4.6-001g Coordenação e Definição de Critérios para a Utilização de Equipamento de Proteção Individual - EPI - 09/04/2019
                                    </a><br /><br />
                                </li>
                             
                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4.4.6-003_Espaços_Confinados.pdf" target="_blank">
                                        IT-SESMT-4.4.6-003j Segurança e Saúde nos Trabalhos em Espaços Confinados - 31/01/2019
                                    </a><br /><br />
                                    <ul>
                                        <li>
                                            <a href="~/Arquivos/espacos_confinados_livreto.pdf" target="_blank">
                                                Espaços Confinados - Livreto do Trabalhador, FUNDACENTRO - 2006
                                            </a><br /><br />
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4.4.6-004c-Sinalização Seg Instalações.pdf" target="_blank">
                                        IT-SESMT-4.4.6-004 Sinalização de Segurança nas Instalações da Empresa - 03/06/2019
                                    </a><br /><br />
                                </li>

                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4.4.6-005a_Projetos NR-10.pdf" target="_blank">
                                        IT-SESMT-4.4.6-005 Segurança em Projetos de Instalações Elétricas - NR10 - 11/07/2019
                                    </a><br /><br />
                                </li>

                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4.4.6-006_Aquisição e Utilização Produtos Quimicos.pdf" target="_blank">
                                        IT-SESMT-4.4.6-006 Aquisição e Utilização de Produtos Químicos na Cemig - 05/02/2010
                                    </a><br /><br />
                                </li>

                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4.4.6-007b_Prontuário.pdf" target="_blank">
                                        IT-SESMT-4.4.6-007 Prontuário de Instalações Elétricas da NR10 - 11/07/2019
                                    </a><br /><br />
                                </li>

                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4.4.6-009d_PPRA.PDF" target="_blank">
                                        IT-SESMT-4.4.6-009 Programa de Prevenção de Riscos Ambientais - PPRA - 12/12/2008
                                    </a><br /><br />
                                </li>

                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4.4.6-010_PCA.pdf" target="_blank">
                                        IT-SESMT-4.4.6-010 Programa de Conservação Auditiva - PCA - 05/11/2013
                                    </a><br /><br />
                                </li>

                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4.4.6-011_Seg Eventos Temporários.pdf" target="_blank">
                                        IT-SESMT-4.4.6-011 Critérios de Segurança para a Realização de Eventos Temporários - 05/02/2010
                                    </a><br /><br />
                                </li>

                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4 4 6-014 Trabalho em Altura.pdf" target="_blank">
                                        IT-SESMT-4.4.6-014 Critérios de Segurança e Saúde para Trabalho em Altura - 25/08/2014
                                    </a><br /><br />
                                </li>

                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4 5 1-001c_Ensaios elétricos EPIs EPCs.pdf" target="_blank">
                                        IT-SESMT-4.5.1-001 Critérios para Ensaios Elétricos em EPIs, EPCs  e Ferramentas Isoladas - 01/12/2016
                                    </a><br /><br />

                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4 5 1-002_LabMóvel.pdf" target="_blank">
                                        IT-SESMT-4.5.1-002 Critérios para a Realização de Ensaios Elétricos Periódicos em Equipamentos de Segurança utilizando
                                        Laboratórios Móveis - 05/11/2013
                                    </a><br /><br />

                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4 5 1-003 - Inspeções em Cesta Aérea e Cesto Acoplado.pdf" target="_blank">
                                        IT-SESMT-4 5 1-003 Critérios de Segurança para Inspeções e Ensaios em Cesta Aérea e Guindastes com Cesto Acoplado - 01/09/2017
                                    </a><br /><br />
                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4.5.1-004_VERIFICAÇÕES EDUCATIVAS.pdf" target="_blank">
                                        IT-SESMT-4.5.1-004 Critérios para Verificações Educativas de Segurança do Trabalho - 13/04/2018
                                    </a><br /><br />

                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4.5.2-001_Verificação do Atendimento as Normas.pdf" target="_blank">
                                        IT-SESMT-4.5.2-001 Verificação do Atendimento às Normas de SSO&BE - 28/01/2010
                                    </a><br /><br />

                                    <ul>
                                        <li>
                                            <a href="~/Arquivos/Check-list Verif Atendim Normas de SSOBE_2015.xls" target="_blank">
                                                Check-list para Verificação do Atendimento às Normas de SSO&BE
                                            </a><br /><br />
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="~/Arquivos/IT-SESMT-4 5 3-001 - SIMASP.pdf" target="_blank">
                                        IT-SESMT-4.5.3-001 Inspeção de Segurança - SIMASP - 06/12/2017
                                    </a><br /><br />

                            </ul>

                        </div>
                    </div>
                </div>

                <div class="text">
                    <h5>INSTRUÇÕES DE SEGURANÇA DO TRABALHO</h5><br /><br />

                    <ul>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.4.2-001-001a_Reciclagem.pdf" target="_blank">
                                IST-SESMT-4.4.2-001-001 Reciclagem para Retorno ao Trabalho Após Afastamento ou Inatividade por
                                Período Superior a 3 Meses - 15/09/2008
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST_SESMT-4.4.2-001-002b - Orientação Seg a Visitantes.pdf" target="_blank">
                                IST-SESMT-4.4.2-001-002 Orientação Formal de Segurança a Visitantes dos Estabelecimentos da
                                Empresa - 03/06/2019
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.4.2-001-003b - Orient Formal Seg a Contratados.pdf" target="_blank">
                                IST-SESMT-4.4.2-001-003 Orientação Formal de Segurança a Contratados e Empregados de Empresas
                                Contratadas - 03/06/2019
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST_SESMT-4.4.2-001-004d - Instr Formal a Empregados.pdf" target="_blank">
                                IST-SESMT-4.4.2-001-004 Instrução Formal de Segurança a Empregados - 03/06/2019
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.4.2-002-001_Orientações Secretario Cipa.pdf" target="_blank">
                                IST-SESMT-4.4.2-002-001 Orientações para Secretário de CIPA - 29/11/2012
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST_SESMT-4.4.2.002.002_MAPA DE RISCOS.pdf" target="_blank">
                                IST-SESMT-4.4.2-002-002 Mapa de Riscos das CIPAs da CEMIG - 20/09/2012
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.4.3-001-001_ Banner.pdf" target="_blank">
                                IST-SESMT-4.4.3-001-001 Banner "Zona de Segurança Segundo a NR10" - 05/02/2010
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4 4 3-001-002c_Momento Segurança.pdf" target="_blank">
                                IST-SESMT-4.4.3-001-002 Realização e Gestão do Momento de Segurança - 11/10/2012
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.4.3-001-003b SIPAT.pdf" target="_blank">
                                IST-SESMT-4.4.3-001-003 Semana Interna de Prevenção de Acidentes do Trabalho – SIPAT - 11/07/2019
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.4.6-001-001a_UniformeResistente.pdf" target="_blank">
                                IST-SESMT-4.4.6-001-001 Critérios para Utilização de Uniformes em Tecido Resistente à Chama e ao Fogo
                                Repentino - 28/01/2010
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.4.6-001-002b_Utilização Luvas Isolantes.pdf" target="_blank">
                                IST-SESMT-4.4.6-001-002 Critérios para Utilização de Capacete, Manta e Luvas Isolantes para a realização de Serviços em Cubículos e Painéis - 05/09/2014
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.4.6-001-003_OculosLenteCorretiva.pdf" target="_blank">
                                IST-SESMT-4.4.6-001-003 Aquisição de Óculos de Segurança com Lente Corretiva - 28/01/2010
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.4.6-001-004a-Passo a Passo Controle de EPI.pdf" target="_blank">
                                IST-SESMT-4.4.6-001-004a Passo a Passo para o Controle Digital de EPI - 09/04/2019
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.4.6-001-005_Identificação Capacete.pdf" target="_blank">
                                IT-SESMT-4.4.1-001-005 Identificação para capacete de Autorização Formal das NRs 10, 11, 12, 33 e 35 - 10/08/2015
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.4.6-002-001a_CATF.pdf" target="_blank">
                                IST-SESMT-4.4.6-002-001 Utilização da Caixa Auxiliar de Tomada de Força nos ensaios e Testes de
                                Equipamentos Elétricos - 05/02/2010
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4 4 6-002-003b_ Sistemas de Bloqueio e Sinalização.pdf" target="_blank">
                                IST-SESMT-4.4.6-002-003 Sistemas de Bloqueio e Sinalização - 03/06/2019
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST_SESMT-4.4.6-002-004 - Seg_Disjunt_ SF6.pdf" target="_blank">
                                IST-SESMT- 4.4.6-002-004- Segurança para trabalhos em disjuntores pressurizados a SF6 - 17/11/2019
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.4.6-003-001 Resgate em Espaços Confinados.pdf" target="_blank">
                                IST-SESMT-4.4.6-003-001 Critérios para Elaboração de Procedimentos para Resgate em Espaços Confinados - 28/01/2010
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.4.6-012-001_Guindaste_Veicular.pdf" target="_blank">
                                IST-SESMT-4.4.6-012-001 Critérios de Segurança para Operação de Guindaste Articulado Hidráulico (Veicular) - 03/06/2019
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.4.6-012-002b_Motosserra.pdf" target="_blank">
                                IST-SESMT-4.4.6-012-002 Critérios de Segurança para Operação de Motosserra e similares - 03/06/2019
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.4.6-01-003-EMBARCAÇÕES.pdf" target="_blank">
                                IST-SESMT-4.4.6-012-003 Critérios de Segurança na utilização de Embarcações - 09/10/2014
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4 4 6-012-004b_Equipamentos de Movimentação.pdf" target="_blank">
                                IST-SESMT-4.4.6-012-004 Critérios de Segurança para Operação de Equipamentos de Movimentação de Materiais e Pessoas - 03/06/2019
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT- 4 4 6-012-005b.pdf" target="_blank">
                                IST-SESMT-4.4.6-012-005 Especificação de Equipamentos e Requisitos de Segurança para realização de atividades com Motocicletas - 07/04/2016
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT- 4.4.6-012-006a - Acessórios de carga.pdf" target="_blank">
                                IST-SESMT-4.4.6-012-006 - Especificação de Segurança para padronização de Acessórios de Carga - 17/06/2013
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT- 4.4.6-012-007 Leiturista.pdf" target="_blank">
                                IST-SESMT-4.4.6-012-007 - Especificação de Vestuário, Equipamentos e Requisitos de Segurança para Leituristas Urbanos - 30/05/2016
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SEMST -4 4 6-012-008 - CONDUÇÃO SEGURA DE VEÍCULOS DA EMPRESA.pdf" target="_blank">
                                IST-SESMT-4.4.6-012-008 - Condução Segura de Veículos da Empresa - 03/06/2019
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.4.6-014-001_Critérios de Segurança Terrenos Inclinados.pdf" target="_blank">
                                IST-SESMT-4.4.6-014-001 - Critérios de Segurança nas atividades em terrenos inclinados - 15/10/2013
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.4.7-001-001_Brigada de Incêndio.pdf" target="_blank">
                                IST-SESMT-4.4.7-001-001 Brigada de Incêndio - Exercícios e Instruções de Combate a Incêndio - 07/01/2014
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4 4 7-001-002_Operação do SEP em sistema de contingência.pdf" target="_blank">
                                IST-SESMT-4.4.7-001-002 - Critérios de segurança para indicação de profissionais para a operação do SEP em regime especial de contingência - 20/01/2014
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4 4 7-300-001h Estojos de Emergência.pdf" target="_blank">
                                IST-SESMT-4.4.7-300-001 Especificacao e Manutencão dos Estojos de Emergência da Cemig - 03/06/2019
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.5.3-001-001_InvestAnaliseAcidentesGravesFatais.pdf" target="_blank">
                                IST-SESMT-4.5.3-001-001 Investigação e Análise de Acidentes Graves e Fatais - 05/02/2010
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.5.3-001-002b_Acidentes Leves.pdf" target="_blank">
                                IST-SESMT-4.5.3-001-002 Análise e Cadastro de Acidentes Leves e Potenciais - 03/06/2019
                            </a><br /><br />
                        </li>

                        <li>
                            <a href="~/Arquivos/IST-SESMT-4.5.3-001-003d_ Classif Cadastro Acid Trânsito.pdf" target="_blank">
                                IST-SESMT-4.5.3-001-003 Classificação e Cadastro de Acidentes de Trânsito - 03/06/2019
                            </a><br /><br />
                        </li>
                    </ul>

                </div>
        </div>
    </div>
