
@{
    ViewBag.Title = "InstrucoesSESMT";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Instruções do SESMT</h1>
        <p class="lead">
            Veja aqui as Instruções sobre os Serviços Especializados em Engenharia de Segurança e em
            Medicina do Trabalho
        </p>
        <hr class="my-2">
    </div>
</div>
<br />
<br />

<div class="container">
    <div class="text">
        <h5>MANUAL TÉCNICO DE SSO&BE</h5>

        <div class="txtJus">
            <p>
                A padronização dos procedimentos de trabalho constitui uma importante ferramenta de prevenção,
                disseminando
                as práticas seguras e contribuindo
                para a redução de incidentes na Empresa.
            </p>

            <p>
                A DPR/ST, como responsável pela implementação da Política de Saúde, Segurança e Bem-estar na CEMIG,
                estabelece, por meio destas instruções, as
                diretrizes a serem seguidas pelos diversos órgãos da CEMIG na elaboração de suas respectivas
                instruções.
                Para que gerem benefícios para a empresa
                e seus empregados, é imprescindível, no entanto, que sejam implementadas e utilizadas no dia-a-dia.
            </p>

            <p><span><strong> TÉCNICO DE SSO&BE</strong></span><br />

            <p>
                O objetivo do Manual Técnico de SSO&BE é apresentar as diretrizes e requisitos técnicos de
                saúde,
                segurança ocupacional e bem-estar a serem seguidos por todos os
                trabalhadores próprios, contratados e de empresas contratadas, de todas as áreas da Empresa -
                técnicas,
                administrativas ou operacionais, sem exceção, e independente
                de possuírem ou não sistema de gestão de saúde e segurança implantado. Para acessar o conteúdo
                do
                manual, clique no título a seguir:</a></li><br /><br />

            <p>
                <li>
                    <a href="Manual2010 - BLOQUEADO.pdf" target="_blank">
                        Manual Técnico de SSO&BE. - (EM REVISÃO)
                    </a><br /><br />
            <P>
                <li>
                    <a href="Adendo - BLOQUEADO.pdf" target="_blank">
                        Adendo - Manual Técnico de SSO&BE. (EM REVISÃO)
                    </a><br /><br />
            <P>
                <li>
                    <a href="Desvio EPI.pdf" target="_blank">
                        Desvio de Procedimento - Manual de EPI.
                    </a><br /><br />

                    <br>

            <p><span><strong> DESVIOS DE PROCEDIMENTO - Instruções de SSO&BE</strong></span><br />
            <P>
                <li>
                    <a href="Desvio de Procedimento_IQVT_20-01-10.pdf" target="_blank">
                        Desvio de Procedimento - Índice de Qualidade de Vida no Trabalho - IQVT.
                    </a><br /><br />
            <P>
                <li>
                    <a href="HIRA.pdf" target="_blank">
                        Desvio de Procedimento - Análises Biomecânicas e Metodologia HIRA - CEMIG.
                    </a><br /><br />
            <P>
                <li>
                    <a href="Adendo ergo.pdf" target="_blank">
                        Adendo ao Desvio de Procedimento relativo as instruções Análises Biomecânicas e
                        Metodologia
                        HIRA - CEMIG
                    </a><br /><br />
            <P>
                <li>
                    <a href="IRRO.pdf" target="_blank">
                        Desvio de Procedimento - Índice de Redução de Risco OcupacionaL - IRRO.
                    </a><br /><br />
            <P>
                <li>
                    <a href="PPRA e PCA.pdf" target="_blank">
                        Desvio de Procedimento - IT-SESMT-4.4.6-009:PPRA e IT-SESMT-4.4.6-010:PCA.
                    </a><br /><br />


            <p><span><strong> E PARECERES DE SSO&BE</strong></span><br />
            <P>
                <li><a href="Parecer.pdf" target="_blank">Parecer sobre aplicação da NR-2.</a><br /><br />

            <P>
                <li>
                    <a href="Memo.pdf" target="_blank">
                        Instruções Corporativas para Cumprimento das NRs -
                        Memorando.
                    </a><br /><br />

            <P>
                <li>
                    <a href="Processo Administrativo.PDF" target="_blank">
                        Processos Administrativos para
                        Acidentes
                        Graves ou Fatais.
                    </a><br /><br />

            <P>
                <li>
                    <a href="Necessidade de elaboração de projeto para andaimes_16-10-12.pdf" target="_blank">
                        Memorando Necessidade da Elaboração de Projeto para Andaimes 16.10.2012
                    </a><br /><br />

        </div>
    </div>

</div>
