
@{
    ViewBag.Title = "LinksUteis";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Links Úteis</h1>
        <p class=" "></p>
        <hr class="my-2">

    </div>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="span4">Links</div>
        </div>
        <div class="col-sm-6">
            <div class="span4"> Descrição</div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <a href="http://www.abce.org.br/" target="_blank">ABCE</a>
        </div>
        <div class="col-sm-6">
            Associação Brasileira de Companhias de Energia Elétrica
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <a href="http://www.abradee.com.br/" target="_blank">ABRADEE</a>
        </div>
        <div class="col-sm-6">
            <a>Associação Brasileira de Distribuidores de Energia Elétrica</a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <a href="http://www.abrage.com.br/" target="_blank">ABRAGE</a>
        </div>
        <div class="col-sm-6">
            <a>Associação Brasileira das Empresas Geradoras de Energia Elétrica</a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <a href="http://www.abrate.org.br/" target="_blank">ABRATE</a>
        </div>
        <div class="col-sm-6">
            <a>Associação Brasileira da Empresas de Transmissão de Energia Elétrica</a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <a href="http://www.aneel.gov.br/" target="_blank">ANNEL</a>
        </div>
        <div class="col-sm-6">
            <a>Agência Nacional de Energia Elétrica</a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <a href="http://www.abho.com.br/" target="_blank">ABHO</a>
        </div>
        <div class="col-sm-6">
            <a>Associação Brasileira de Higienistas Ocupacionais</a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <a href="http://www.abiquim.org.br/" target="_blank">ABIQUIM</a>
        </div>
        <div class="col-sm-6">
            <a>Associação Brasileira da Indústria Química</a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <a href="http://www.abnt.org.br/" target="_blank">ABNT</a>
        </div>
        <div class="col-sm-6">
            <a>Associação Brasileira de Normas Técnicas</a>
        </div>
    </div>
    <br>



    <div class="row">
        <div class="col-sm-6">
            <a href="http://www.ames.eng.br/" target="_blank">AMES</a>
        </div>
        <div class="col-sm-6">
            <a>Associação Mineira de Engenharia de Segurança</a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <a href="http://condisccs/Condis/principal.asp" target="_blank">ConcodWeb</a>
        </div>
        <div class="col-sm-6">
            <a>Gestão das Distribuição</a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <a href="http://cnes.datasus.gov.br/" target="_blank">CNES</a>
        </div>
        <div class="col-sm-6">
            <a>Cadastro Nacional de Estabelecimentos de Saúde</a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <a href="http://www.bombeiros.mg.gov.br/component/content/article/471-instrucoes-tecnicas.html" target="_blank">
                INSTRUÇÕES
                TÉCNICAS DO CBBMG
            </a>
        </div>
        <div class="col-sm-6">
            <a>Instruções técnicas do Corpo de Bombeiros Militar de Minas Gerais</a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <a href="http://www.crea-mg.org.br" target="_blank">CREA</a>
        </div>
        <div class="col-sm-6">
            <a>Conselho Regional de Engenharia e Agronomia de Minas Gerais</a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <a href="http://www.der.mg.gov.br" target="_blank">DER</a>
        </div>
        <div class="col-sm-6">
            <a>Departamento de Edificações e Estradas de Rodagem de Minas Gerais</a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <a href="http://www.dnit.gov.br/" target="_blank">DNIT</a>
        </div>
        <div class="col-sm-6">
            Departamento Nacional de Infraestrutura de Transportes
        </div>
    </div>
    <br>



    <div class="row">
        <div class="col-sm-6">
            <a href="http://www.fundacentro.gov.br" target="_blank">FUNDACENTRO</a>
        </div>
        <div class="col-sm-6">
            Fundação Jorge Duprat Figueiredo de Segurança e Medicina do Trabalho.
        </div>
    </div>
    <br>


    <div class="row">
        <div class="col-sm-6">
            <a href="http://www.mme.gov.br" target="_blank">MINISTERIO DE MINAS E ENERGIA</a>
        </div>
        <div class="col-sm-6">
            Site Oficial do Mininstério de Minas e Energia
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <a href="http://www.mte.gov.br" target="_blank">MINISTÉRIO DO TRABALHO</a>
        </div>
        <div class="col-sm-6">
            Site Oficial do Ministério do Trabalho
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <a href="http://www.protecao.com.br" target="_blank">REVISTA PROTEÇÃO</a>
        </div>
        <div class="col-sm-6">
            Site Oficial da Revista Proteção
        </div>
    </div>
</div>
        

<br>
