
@{
    ViewBag.Title = "ManuaisTecnicos";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Manuais técnicos</h1>
        <p class="lead">Confira os manuais Técnicos dispoibilizados pelo DPR/ST</p>
        <hr class="my-2">

    </div>
</div>


<!-- #Cards -->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 22rem;">
                <div class="border border-success">
                    <img class="card-img-top efeitoOpc" src="~/img/manuais_tec.png" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Manual Técnico 1</h5>
                        <p class="card-text">Manual técnico sobre lorem, ipsolum e outras</p>
                        <br>
                        <a href="#" class="btn btn-primary">Visitar</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 22rem;">
                <div class="border border-success">
                    <img class="card-img-top efeitoOpc" src="~/img/manuais_tec.png" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Manual Técnico 2</h5>
                        <p class="card-text">Manual técnico sobre lorem, ipsolum e outras</p>
                        <br>
                        <a href="#" class="btn btn-primary">Visitar</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 22rem;">
                <div class="border border-success">
                    <img class="card-img-top efeitoOpc" src="~/img/manuais_tec.png" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Manual Técnico 3</h5>
                        <p class="card-text">Manual técnico sobre lorem, ipsolum e outras</p>
                        <br>
                        <a href="#" class="btn btn-primary">Visitar</a>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<br>
<br>


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 22rem;">
                <div class="border border-success">
                    <img class="card-img-top efeitoOpc" src="~/img/manuais_tec.png" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Manual Técnico 4</h5>
                        <p class="card-text">Manual técnico sobre lorem, ipsolum e outras</p>
                        <br>
                        <a href="#" class="btn btn-primary">Visitar</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 22rem;">
                <div class="border border-success">
                    <img class="card-img-top efeitoOpc" src="~/img/manuais_tec.png" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Manual Técnico 5</h5>
                        <p class="card-text">Manual técnico sobre lorem, ipsolum e outras</p>
                        <br>
                        <a href="#" class="btn btn-primary">Visitar</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 22rem;">
                <div class="border border-success">
                    <img class="card-img-top efeitoOpc" src="~/img/manuais_tec.png" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Manual Técnico 6</h5>
                        <p class="card-text">Manual técnico sobre lorem, ipsolum e outras</p>
                        <br>
                        <a href="#" class="btn btn-primary">Visitar</a>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<br>
<br>

