
@{
    ViewBag.Title = "SIMASP";
}

<!-- #Jumbo-->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">SIMASP</h1>
        <p class="lead"> Sistema de Monitoramento e Auditoria para a Segurança Praticada</p>
        <hr class="my-4">
    </div>
</div>
<!-- #Jumbo-->

<div class="container">

    <div class="txtJus">

        <div class="text">
            <h3>Apresentação do Programa</h3>
            O SIMASP - Sistema de Monitoramento e Auditoria para a Segurança Praticada é um programa corporativo
            referente a cadastro de
            inspeções de segurança do trabalho visa verificar as atividades realizadas por pessoas, veículos,
            ferramentas ou ambientes de trabalho,
            tanto no que diz respeito a empregados próprios da CEMIG quanto aos contratados, obtendo um índice
            final que mede o “Nível de Segurança do
            Trabalho”.</p>

            </p>Além do cadastro das inspeções, o programa permite também registrar planos de ações para as não
            conformidades encontradas, propondo medidas
            corretivas e preventivas de forma a minimizar as falhas ou possíveis falhas realizadas durante as
            atividades ou originadas nos processos.
            Ele ainda contempla um módulo sobre auditoria do sistema, verificando itens como exclusão/modificação
            de alguma informação da inspeção, e
            outros itens referentes a segurança.</p>

            </p>Informações Básicas:</p>
            <ol>
                <li> O ambiente de testes deve ser utilizado para treinamento dos usuários no sistema.</li>
                <li>
                    As informações inseridas no ambientes de testes não serão transferidas para o ambiente de
                    produção (onde o programa rodará efetivamente).
                </li>
                <li> O acesso ao programa deve ser requerido ao Administrador Regional de sua localidade</li>
            </ol>
            Clique nos links abaixo para ter acesso ao programa:
            <br>
            <br>

            <a href="http://sa-corp-jboss1:8080/gdissp/" target="_blank"> Programa SIMASP</a><br /><br />

            <a href="http://gdispre-sp" target="_blank"> Ambiente de Testes</a><br /><br />



        </div>
    </div>
</div>  