
@{
    ViewBag.Title = "AlimentacaoSaudavel";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Alimentação</h1>
        <p class="lead">S de Saúde - Tudo o que você precisa saber</p>
        <hr class="my-2">

    </div>
</div>



<div class="container">
    <div class="txtJus">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                            <h5>O que são alimentos funcionais?</h5>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            São aqueles que contêm substâncias ativas capazes de fortalecer o organismo, prevenindo
                            e
                            combatendo
                            doenças. “Todos os alimentos têm
                            propriedades nutricionais, mas alguns possuem elementos com funções benéficas
                            particulares,
                            e são
                            classificados
                            como funcionais”, diz a professora Elizabeth Torres, engenheira agrônoma da Faculdade
                            de
                            Saúde Pública
                            da
                            Universidade de São Paulo (USP). Uma forma simples de entender os grupos de alimentos
                            funcionais é
                            olhar as
                            cores da comida. Alimentos com tons laranja, como cenoura e abóbora, são ricos em
                            betacaroteno, que
                            retarda
                            o
                            envelhecimento. Os vermelhos, como melancia e tomate, possuem licopeno, que melhora o
                            sistema
                            imunológico.
                            Já
                            os que tendem para o violeta, como uva e amora, têm propriedades antioxidantes. “Mas a
                            fórmula não se
                            aplica a
                            todos os alimentos”, diz o especialista. “É o caso de chás, especiarias e peixes, que
                            têm
                            substâncias
                            funcionais e não revelam isso nas cores.”
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            <h5>O que são triglicerídeos?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Triglicerídeos ou Triglicérides, são um tipo de gordura, composto por uma molécula de
                            glicerol e três
                            moléculas
                            de ácidos graxos. Os triglicérides são a principal forma de estocagem de energia dos
                            animais, que os
                            acumulam
                            no tecido adiposo na forma de gordura.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            <h5>O que eleva os triglicerídeos?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Em muitos casos, pessoas que apresentam problemas com o colesterol ruim muito elevado,
                            também possuem
                            algum
                            problema com os triglicerídeos. Esse aumento nos níveis de gordura prejudicial no
                            sangue
                            ocorre em
                            decorrência
                            do hábito de vida das
                            pessoas. Um dos fatores contribuintes é o fato de manter uma alimentação mal
                            balanceada.
                            Rica demais em
                            carboidratos e gorduras saturadas, e, normalmente, consumindo poucas gorduras
                            essenciais
                            como os ômegas
                            3 e
                            6,
                            além de que a variedade de alimentos é muito pequena, dispensando muitas vezes as
                            hortaliças, que são
                            muito
                            nutritivas e importantes.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                            <h5>O que São as Gorduras Trans?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            É um tipo de gordura produzida industrialmente a partir de um processo químico, a
                            hidrogenação. Usada
                            desde
                            o
                            início do século passado, ela passou a ser consumida com mais frequência, e sem culpa,
                            a
                            partir dos
                            anos
                            50.
                            Por ser proveniente de óleos vegetais, acreditava-se que a gordura trans era uma opção
                            mais
                            saudável à
                            gordura
                            animal - que comprovadamente aumenta o LDL (colesterol ruim) no sangue. A partir da
                            década
                            de 80,
                            estudos
                            científicos provaram que a trans é um dos grandes venenos da alimentação moderna. A
                            maior
                            concentração
                            da
                            gordura trans está nas bolachas, chocolates, sorvetes, salgadinhos, pastéis, folhados,
                            tortas, bolos,
                            hambúrguer, tudo o que utiliza as margarinas nas receitas.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                            <h5>Os produtos dietéticos (alimentos “diet” ou “light”) podem ser usados à vontade?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Não! Alguns produtos dietéticos não contêm açúcar, outros contêm. Alguns, como os
                            chocolates
                            dietéticos,
                            mesmo
                            não contendo açúcar são desaconselhados para quem precisa emagrecer, pelo alto valor
                            calórico. É
                            importante
                            sempre ler os rótulos dos produtos com muita atenção para saber se eles contêm ou não
                            açúcar, qual a
                            quantidade
                            de carboidratos que contêm e qual seu valor calórico. (Um chocolate normal tem entre
                            440 e
                            550 calorias
                            em
                            100
                            gramas; um chocolate “diet” de 100 gramas tem cerca de 530 calorias).
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
                                aria-expanded="false" aria-controls="collapseSix">
                            <h5>Todas as frutas são permitidas para as pessoas com diabetes?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Sim! As frutas contêm o açúcar natural, mas não prejudicam a saúde da pessoa que tem
                            diabetes, desde que
                            usadas
                            em quantidades adequadas. Isso significa que uma criança poderá ingerir cerca de 3
                            frutas
                            por dia; um
                            adolescente ativo ou uma gestante, até 4 frutas; um adulto magro entre 2 e 4 frutas,
                            dependendo de sua
                            atividade física; e um
                            obeso poderá ter seu limite fixado em 2 frutas ao dia. É importante lembrar que as
                            frutas
                            devem ser de
                            tamanho
                            pequeno ou médio e devem ser consumidas com casca e bagaço, sempre que possível. Vale
                            destacar, também,
                            que
                            algumas frutas (como a uva, o caqui, a manga, e a banana nanica) têm mais açúcar que
                            outras, o que não
                            proíbe o
                            consumo, mas indica a necessidade de controlar o tamanho da porção a ser ingerida.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven"
                                aria-expanded="false" aria-controls="collapseSeven">
                            <h5>Feijão faz bem para quem tem diabetes?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Sim! O feijão é um alimento rico em proteínas vegetais, amido e fibras, substâncias
                            importantes para a
                            saúde
                            das pessoas com diabetes. O excesso de feijão, assim como de qualquer outro alimento,
                            deve
                            ser evitado.
                            O
                            efeito da mistura arroz-feijão sobre a glicemia é melhor que o arroz sem feijão (ou
                            seja, a
                            mistura
                            arroz-feijão faz subir menos o açúcar no sangue que o arroz puro). Se a refeição for
                            complementada com
                            verduras
                            cruas e cozidas e carne magra, melhor ainda!
                        </p>

                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingEight">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight"
                                aria-expanded="false" aria-controls="collapseEight">
                            <h5>Existem alimentos que ajudam a combater o colesterol e a proteger seu coração?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Sim! Você já deve saber que a gente não deve comer certos alimentos para não aumentar a
                            taxa
                            de
                            colesterol
                            no
                            sangue. Mas existem alimentos que protegem o coração de diversas maneiras. Eles podem,
                            por
                            exemplo,
                            diminuir a
                            taxa do colesterol ruim, ou aumentar a taxa do colesterol bom. Conheçam quais são eles
                            e
                            inclua-os em
                            sua
                            dieta: Alcachofra, Aveia, Azeite, Chá, Farelos e cereais integrais, Laranja,
                            Oleaginosas,
                            Peixe, Soja e
                            Vinho.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingNine">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine"
                                aria-expanded="false" aria-controls="collapseNine">
                            <h5>Qual a diferença entre produtos Light, Diet e Zero?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Os alimentos considerados diet são aqueles em que um dos componentes nutricionais
                            existentes
                            no produto
                            original foi retirado, ou seja, o produto diet pode ter 0% de açúcar, mas continuar
                            tendo o
                            mesmo
                            número de
                            quilocalorias que o tradicional. É por isso que ele não é o ideal para quem quer perder
                            peso, pois é
                            comum
                            ver
                            produtos desse tipo que engordam mais que os tradicionais. Eles são indicados para
                            aquelas
                            pessoas com
                            restrições alimentares a algumas substâncias, como os diabéticos, indivíduos que não
                            podem
                            consumir
                            açúcar.
                            Já
                            os alimentos light são aqueles que devem ter uma
                            redução de no mínio 25% de qualquer substância fornecedora de quilocalorias existente
                            no
                            produto
                            original,
                            como
                            a gordura, o sal ou o açúcar. É por isso que eles são os alimentos certos para aquelas
                            pessoas que
                            querem
                            perder peso, pois apesar de terem todas as substâncias encontradas no original o seu
                            valor
                            energético é
                            menor.
                            Os produtos zero não possuem muita diferença quando comparados aos produtos diet, neles
                            também existe a
                            isenção
                            de alguma substância presente no alimento original. A única mudança é que os alimentos
                            zero
                            geralmente
                            possuem
                            menos quilocalorias que os produtos originais.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingTen">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen"
                                aria-expanded="false" aria-controls="collapseTen">
                            <h5>Quais são os benefícios que o Ômega 3 traz para a saúde?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            O ômega 3 é um tipo de gordura, conhecido como ácido graxo essencial pois é muito
                            importante para uma boa
                            saúde. O corpo humano não é capaz de produzir ômega 3, tendo que obtê-lo da
                            alimentação. Um
                            grande número
                            de
                            pesquisas vem demonstrando os benefícios do ômega 3 para o coração e todo sistema
                            circulatório, entre eles:
                            Atividade antiinflamatória; Atividade anti-trombos (entupimento dos vasos sanguíneos);
                            Redução dos níveis
                            de
                            colesterol e triglicerídeos e Redução da pressão arterial. As melhores fontes de ômega
                            3
                            são os peixes, mas
                            é
                            encontrado também na semente de linhaça; castanhas e nozes; óleos vegetais (azeite,
                            óleo de
                            soja, canola);
                            vegetais de folhas verdes escuro.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
