
@{
    ViewBag.Title = "AtividadeFisica";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Atividade Física</h1>
        <p class="lead">S de Saúde - Tudo o que você precisa saber!</p>
        <hr class="my-2">

    </div>
</div>



<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        <h5>O que é Atividade Física?</h5>
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        "A atividade física é definida como qualquer movimento corporal, produzido pelos músculos
                        esqueléticos, que
                        resulte em gasto energético maior que os níveis de repouso" (CASPERSEN et al,1985). Vale
                        tudo:
                        andar,
                        dançar,
                        correr, pedalar, passear com o cachorro, fazer compras a pé, subir e descer escadas, fazer
                        jardinagem,
                        enfim,
                        levar uma vida mais ativa. Em outras palavras, não são necessários níveis altos de prática
                        física, horas
                        intermináveis de exercícios ou dor e sofrimento. Para aproveitar as vantagens da atividade
                        física, é
                        suficiente
                        aumentar o grau de integração da vida diária à atividade física, combatendo o sedentarismo
                        e
                        seus riscos
                        para a
                        vida humana.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                        <h5>Quais os benefícios da atividade física?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        <div class="container">

                    <p><strong></strong></p>

                    <p></p>

                    <p><strong></strong></p>
                    <br>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h4><strong>Na aparência</strong></h4>
                            </div>
                            <div class="col">
                                <h4><strong>No Trabalho</strong></h4>
                            </div>
                            <div class="col">
                                <h4><strong>Na saúde</strong></h4>
                            </div>
                            <div class="col">
                                <h4><strong>No dia a dia</strong></h4>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                Melhora seu visual
                            </div>
                            <div class="col">
                                Aumenta a produtividade
                            </div>
                            <div class="col">
                                Aumenta a qualidade e a expectativa de vida
                            </div>
                            <div class="col">
                                Maior disposição para as tarefas cotidianas
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                Melhora sua postura
                            </div>
                            <div class="col">
                                Menor propensão às doenças
                            </div>
                            <div class="col">
                                Melhora seu sistema imunológico
                            </div>
                            <div class="col">
                                O coração trabalha de forma mais segura e eficiente
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                Os músculos ficam mais eficientes e com melhor tônus
                            </div>
                            <div class="col">
                                Melhor índice de frequência no trabalho,
                            </div>
                            <div class="col">

                            </div>
                            <div class="col">
                                Aumenta seu fôlego, Melhor elasticidade e flexibilidade do corpo,
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">

                            </div>
                            <div class="col">
                                Combate o estresse e a indisposição,
                            </div>
                            <div class="col">

                            </div>
                            <div class="col">
                                Melhora seu sistema imunológico
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                                Previne e reduz os efeitos de doenças como: <br>- Cardiopatias <br>-
                                Estresse
                                <br>- Obesidade <br>-
                                Osteoporose <br>- Hipertensão arterial <br>- Deficiências respiratórias <br>-
                                Problemas
                                circulatórios <br>- Diabetes <br>- As alterações das taxas de colesterol
                                (lipídicas).
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                        <h5>Por que sinto dor um ou dois dias depois de praticar exercícios físicos?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Dores sentidas de 24 a 48 horas após o treino são chamadas de dores tardias. Elas aparecem
                        porque
                        ocorrem
                        microrrupturas nas fibras musculares e no tecido conjuntivo e estes sofrem um processo de
                        inflamação,
                        provocando a dor. Mas estas desaparecem cerca de 4 dias depois e, com o treino contínuo (na
                        mesma
                        intensidade),
                        o corpo se acostuma e não aparecem mais as dores. Agora, se você aumentar a intensidade ou
                        passar do
                        seu
                        limite
                        ou mesmo se fizer uma atividade à qual não está acostumado, estas dores podem aparecer.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="true" aria-controls="collapseFour">
                        <h5>Qual a diferença entre alongamento e aquecimento na atividade física?</h5>
                    </button>
                </h2>
            </div>

            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Aquecimento é a atividade física que possibilita o aumento da temperatura corporal interna e
                        muscular -
                        o
                        que é
                        fundamental para uma prática esportiva adequada. Já os exercícios de alongamento permitem a
                        distensão
                        em
                        níveis
                        seguros das fibras musculares. Alongar a musculatura sem que ela esteja devidamente
                        aquecida já
                        representa
                        um
                        risco maior de lesão.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                        <h5>É saudável fazer exercícios no inverno?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Sim, é tão saudável quanto no calor. A única diferença é que o corpo gasta mais energia no
                        frio
                        para
                        manter-se
                        aquecido. Três quartos da energia do corpo humano são despendidos apenas para manter a
                        temperatura, e
                        só o
                        que
                        sobra vai para o exercício na contração muscular. Portanto, é importante uma alimentação
                        adequada antes
                        da
                        pratica de esportes, porque ela fornecerá a energia necessária às atividades.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
                            aria-expanded="false" aria-controls="collapseSix">
                        <h5>
                            Durante uma caminhada, os membros superiores ficam pesados e as mãos incham. O que
                            ocorre?
                        </h5>
                    </button>
                </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Essas sensações estão ligadas à circulação sanguínea deficiente. Depois de ser bombeado para
                        os
                        tecidos,
                        o
                        sangue deve voltar para o coração. Nos pés, isso ocorre com facilidade. Porém, nos membros
                        superiores,
                        que
                        ficam quase que “pendurados” no corpo, a história é diferente. Daí a sensação de mãos
                        inchadas
                        e braços
                        pesados. “Quando isso acontecer, você pode pressionar as mãos ou levantar os braços acima
                        da
                        cabeça”,
                        aconselha
                        José Luiz Signorini, professor de Educação Física da USP. “Outra
                        dica para evitar o problema é deixar os braços dobrados, movimentando-os alternadamente de
                        acordo com o
                        ritmo
                        da caminhada”, ensina Fernando Torres.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingSexen">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven"
                            aria-expanded="true" aria-controls="collapseSeven">
                        <h5>Quanto tempo deve-se esperar para praticar atividades físicas depois das refeições?</h5>
                    </button>
                </h2>
            </div>

            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Se o cardápio for leve, com saladas, suco e torradas, a digestão será fácil e rápida — ela
                        dura
                        1 hora,
                        no
                        máximo. Mas, se a comida for gordurosa, vai ficar mais tempo no estômago. Aí, qualquer
                        movimento que
                        contraia a barriga será incômodo. Além do mais, a quantidade de sangue não será suficiente
                        para
                        atender
                        às
                        necessidades dos músculos e do aparelho digestivo simultaneamente. Resultado: contratempos
                        na
                        absorção
                        dos
                        alimentos, causando a náusea. “Se você fizer uma refeição pesada deve esperar, no mínimo, 3
                        horas para
                        fazer qualquer atividade”, recomenda Signorini.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingEight">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight"
                            aria-expanded="false" aria-controls="collapseEight">
                        <h5>Existe uma atividade mais indicada para quem é diabético?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        “Quem tem diabete se beneficia muito de exercícios aeróbios moderados”, ensina Torres. A
                        caminhada é um
                        exemplo. Mas a pessoa deve se cuidar para não aumentar abruptamente o esforço. “Se isso
                        acontecer,
                        haverá
                        uma grande queima de glicose e o diabético não vai conseguir repô-la a tempo”, explica
                        Victor
                        Matsudo.
                        Por
                        isso, como regra geral, ele deve estar com a taxa de glicose controlada antes de fazer
                        qualquer
                        ginástica.
                        Uma atividade física regular pode até diminuir a necessidade de medicamentos. Isso porque
                        as
                        células
                        tornam-se mais sensíveis à insulina e conseguem, assim, absorver mais açúcar do sangue. E
                        tem
                        mais:
                        “Pesquisas recentes mostram que a contração dos músculos estimula a captação da glicose
                        mesmo
                        sem a
                        insulina”, revela Lancha Júnior
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingNine">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine"
                            aria-expanded="false" aria-controls="collapseNine">
                        <h5>Existe um exercício só para tirar os pneuzinhos da cintura?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Os pneus aparecem quando a gordura se acumula no corpo. Para eliminá-los, você pode andar de
                        bicicleta,
                        correr, nadar, caminhar ou praticar qualquer outro exercício aeróbio, aquele de intensidade
                        leve, mas
                        de
                        longa duração. Eles aceleram o funcionamento do corpo inteiro, que, para obter energia,
                        consome
                        a
                        gordura
                        que está sobrando. Muitas pessoas fazem abdominais achando que, com isso, podem afinar a
                        cintura.
                        Engano.
                        Esse tipo de exercício fortalece os músculos que estão debaixo da camada de gordura, mas
                        não a
                        eliminam
                        — a
                        barriga continua do mesmo tamanho, só que mais dura.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingTen">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTen"
                            aria-expanded="true" aria-controls="collapseTen">
                        <h5>Qual a importância da hidratação durante a atividade física?</h5>
                    </button>
                </h2>
            </div>

            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                    <p>
                        Cerca de 60% de nosso organismo é constituído por água, mais da metade do peso corporal,
                        e
                        só na
                        composição
                        muscular 75% é de água. Sendo assim podemos dizer que a hidratação é imprescindível,
                        não só
                        para
                        atividade
                        física, como no dia a dia de qualquer uma pessoa que preserve sua saúde. Durante uma
                        atividade física
                        perdemos muito líquido, podendo ocorrer desidratação, um dos sintomas da desidratação
                        são
                        as famosas
                        cãimbras, que podem ser evitadas, não por bananas, mas sim pela hidratação antes,
                        durante e
                        após a
                        atividade física. Sabendo-se agora da importância da hidratação vai uma dica de como se
                        hidratar antes,
                        durante e após a atividade física: Antes do exercício:
                    </p>
                    <ul>
                        <li> Tomar de 400 a 600ml de água no mínimo 2horas antes de iniciar o exercício;</li>
                        <li>
                            Durante o exercício: Caso o exercício gira em torno de 1h para mais, tomar de 150ml
                            a
                            350ml a cada
                            20min ou 3omin
                        </li>
                        <li>Após o exercício: Beba o suficiente para matar a sua sede</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

