
@{
    ViewBag.Title = "Atribuicoes da Enfermagem do Trabalho";
}

<!-- #Jumbotron-->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Atribuições da Enfermagem do Trabalho</h1>
        <p class="lead">Responsabilidades do Profissional</p>
        <hr class="my-4">

    </div>
</div>

<div class="container">
    <h3>Enfermagem do Trabalho - Atribuições do Enfermeiro do Trabalho</h3>
    <div class="txtJus">
        <p>
            A enfermagem do trabalho executa atividades relacionadas com o serviço de higiene, medicina e segurança do
            trabalho, integrando equipes de estudos, para propiciar a preservação da saúde e valorização do trabalhador
        </p>

        <p>
            Atribuições do Enfermeiro do Trabalho
            Estuda as condições de segurança e periculosidade da empresa, efetuando observações nos locais de trabalho e
            discutindo-as em equipe, para identificar as necessidades no campo de segurança, higiene e melhoria do trabalho;
            elabora e executa planos e programas de promoção e proteção à saúde dos empregados, participando de grupos que
            realizam inquéritos sanitários, estudam as causas de absenteísmo, fazem levantamentos de doenças profissionais e
            lesões traumáticas, procedem a estudos epidemiológicos, coletam dados estatísticos de morbidade e mortalidade de
            trabalhadores, investigando possíveis relações com as atividades funcionais, para obter a continuidade
            operacional
            e o aumento da produtividade; executa e avalia programas de prevenção de acidentes e de doenças profissionais e
            não
            profissionais, fazendo análise de fadiga, dos fatores de insalubridade, dos riscos e das condições de trabalho do
            menor e da mulher, para propiciar a preservação da integridade física e mental do trabalhador.
        </p>

        <p>
            Além disso, presta primeiros socorros no local de trabalho, em caso de acidente ou doença,
            fazendo curativos ou imobilizações especiais, administrando medicamentos e tratamentos e
            providenciando o posterior atendimento médico adequado, para atenuar consequências e
            proporcionar apoio e conforto ao paciente; elabora e executa e avalia as atividades de Serviço
            de enfermagem aos trabalhadores, proporcionando-lhes atendimento ambulatorial, no local de trabalho,
            controlando sinais vitais, aplicando medicamentos prescritos, curativos,
            inalações e testes, coletando material para exame laboratorial,
            vacinações e outros tratamentos, para reduzir o absenteísmo profissional;
            organiza e administra o setor de enfermagem da empresa, prevendo pessoa e material necessários,
            treinando e supervisionando auxiliares de enfermagem adequado às necessidades de saúde do trabalhador;
            treina trabalhadores, instruindo-os sobre o uso de roupas e material adequado ao tipo de trabalho,
            para reduzir a incidência de acidentes; planeja e executa programas de educação sanitária,
            divulgando conhecimentos e estimulando a aquisição de hábitos sadios,
            para prevenir doenças profissionais e melhorar as condições de saúde do trabalhador;
            registra dados estatísticos de acidentes e doenças profissionais,
            mantendo cadastros atualizados, a fim de preparar informes para subsídios processuais nos pedidos de indenização
            e orientar em problemas de prevenção de doenças profissionais.

    </div>
   

</div>