
@{
    ViewBag.Title = "Curiosidades";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Curiosidades</h1>
        <p class="lead">S de Saúde - Tudo o que você precisa saber</p>
        <hr class="my-2">

    </div>
</div>


<div class="container">
    <div class="txtJus">



        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                            <h5>Água com açúcar acalma?</h5>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Não, essa receita antiga, usada para acalmar pessoas que passaram por alguma situação de
                        susto
                        e tensão não
                        passa de crendice popular. ―Quando o açúcar é metabolizado pelo organismo, ele se
                        transforma
                        principalmente
                        em glicose, que é uma fonte de energia e não tem nenhum efeito tranquilizante ou sedativo‖,
                        diz
                        a
                        endocrinologista Adriana Teloglia, professora do Centro Universitário São Camilo, de São
                        Paulo.
                        ―Apesar
                        disso, o açúcar pode provocar uma sensação de bem-estar por causa da produção de certos
                        neurotransmissores,
                        como a serotonina. Essa sensação de bem-estar é muitas vezes confundida com o tal efeito
                        relaxante que
                        muita gente acredita que a mistura de água com açúcar tem‖, diz a farmacêutica mineira
                        Denise
                        Polato de
                        Lima.
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            <h5>Batata na testa cura dor de cabeça?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Curar, não cura, mas alivia a dor. Segundo Paulo Hélio Monzillo, neurologista do
                            hospital
                            Albert Einstein,
                            em São Paulo, o tubérculo provoca uma sensação de frio quando fica em contato com a
                            pele,
                            que é mais
                            quente, levando a uma constrição dos vasos sanguíneos da cabeça, que dilatam durante a
                            crise.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            <h5>Corantes e conservantes fazem mal a saúde?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Há controvérsias. Segundo a Agência Nacional de Vigilância Sanitária‘ (ANVISA), estudos
                            toxicológicos mostram que corantes e conservantes não fazem mal à saúde se usados nos
                            limites definidos pela legislação – a ANVISA está lançando um programa para monitorar
                            de
                            perto o uso dessas substâncias.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                            <h5>Devemos mastigar muito a comida?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Claro que mastigar bem é importante, mas há opiniões diversas sobre a intensidade ideal
                            da
                            mastigação. Segundo o gastroenterologista Thomas Szegö, com a mastigação intensa o
                            alimento
                            começa a ser digerido na boca e forma uma pasta que chega pronta ao estômago,
                            facilitando a
                            digestão. ―Quando comemos com calma, damos tempo para o organismo assimilar os
                            nutrientes.
                            Quem come rápido, ao fim da refeição, sente-se empanturrado‖, diz ele.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                            <h5>É bom dormir depois do almoço?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Depende. Pessoas que têm problemas de estômago ou sofrem de insônia e apnéia do sono
                            (interrupção da respiração por mais de 10 segundos enquanto dormem) não devem cochilar
                            depois do almoço, pois esse descanso pode, respectivamente, prejudicar a digestão e
                            comprometer o sono da noite. Fora isso, a sesta, comum em países como Espanha e Itália,
                            não tem qualquer contraindicação e pode ser uma forma eficiente de recarregar as
                            baterias. ―Sem ela, o organismo de muita gente não funciona bem‖, afirma a neurologista
                            Dalva Poyares, coordenadora do Instituto do Sono da Universidade Federal de São Paulo
                            (Unifesp). Segundo os especialistas, além de tornar a pessoa mais ativa e produtiva, a
                            sesta pode melhorar a digestão, pois deixa o organismo livre para concentrar suas
                            energias no funcionamento do sistema digestor. Pesquisa realizada pela Nasa, a agência
                            espacial norte-americana, revelou que 40 minutos de sono depois de uma refeição, no
                            meio de uma jornada de trabalho, aumentam em 34% a capacidade produtiva.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
                                aria-expanded="false" aria-controls="collapseSix">
                            <h5>Faz mal segurar espirro?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Sim, pois ao fazer isso você provoca um súbito aumento da pressão dentro das vias aéreas
                            superiores e do canal do ouvido, podendo causar uma série de problemas, como surdez
                            repentina, vertigens e até a ruptura do tímpano, uma fina membrana que separa o ouvido
                            médio do ouvido externo. Embora seja extremamente raro de acontecer, o aumento da
                            pressão
                            provocado pela supressão do espirro também pode provocar lesões pulmonares. ―Por mais
                            inoportuno que possa ser, o espirro é um forte aliado e um importante mecanismo de
                            defesa
                            do nosso organismo‖, afirma o pneumologista paulista Ciro Kirchenchtejn, médico do
                            Hospital
                            Beneficência Portuguesa de São Paulo. ―Ele tem a função de livrar o corpo de sujeiras
                            que
                            irritam o nariz e a garganta, como poeira, pólen, ácaro e pêlo de animais.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven"
                                aria-expanded="false" aria-controls="collapseSeven">
                            <h5>Jejum faz mal para o estômago?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card-body">
                        Não. ―Jejuar não causa nenhum problema para o estômago, afirma o gastroenterologista Luiz
                        Chehter, da Escola Paulista de Medicina. Na medida em que a pessoa deixa de estimular o
                        estômago com alimentos, o órgão entra numa espécie de dormência e praticamente para a
                        produção
                        de ácidos que poderiam, sim, provocar problemas. Os especialistas advertem, no entanto,
                        para
                        certos cuidados que devem ser tomados ao fim do período de jejum. ―A pessoa deve adotar uma
                        dieta leve, com ingestão de pequena quantidade de gordura para, aí sim, evitar problemas
                        digestivos, afirma Luiz Chehter.
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingEight">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight"
                                aria-expanded="false" aria-controls="collapseEight">
                            <h5>O mel é bom substituto do açúcar?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Sim. O mel é um excelente alimento energético, porque contém açúcares simples (glicose e
                            frutose, principalmente), facilmente assimilados pelo organismo, além de minerais, como
                            sódio, potássio e cálcio, e pequenas quantidades de vitaminas. ―De todos os substitutos
                            do
                            açúcar, o mel é o mais puro e natural‖, afirma a nutricionista Cibele Crispim, de São
                            Paulo. Segundo a especialista, a cor, o sabor e o cheiro do mel podem variar de acordo
                            com
                            a espécie de flor de onde o néctar é tirado. ―Os de cor escura são ricos em sais
                            minerais,
                            e os claros têm sabor mais suave‖, diz ela. O mel, apesar dos seus benefícios, tem
                            algumas
                            contraindicações: não deve ser consumido em excesso, pois resulta numa alta ingestão
                            calórica, e não é indicado para crianças com menos de 1 ano de idade, pois pode estar
                            contaminado com uma bactéria chamada Clostridium botulinum, que pode ser perigosa para
                            os
                            bebês, em função da imaturidade de seu sistema gastrointestinal.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingNine">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine"
                                aria-expanded="false" aria-controls="collapseNine">
                            <h5>Por que calor dá preguiça?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Em alguns casos, o que ocorre é uma série de respostas fisiológicas do organismo ao
                            aumento
                            de temperatura, conforme explica o clínico-geral Flávio Dantas, da Universidade Federal
                            de
                            São Paulo (Unifesp). ―Quando submetido a uma situação de calor excessivo, o organismo
                            procura evitar gastar ainda mais sua energia, pois precisa manter constante a
                            temperatura
                            do corpo. É uma espécie de compensação ou resposta inteligente do nosso corpo para
                            manter
                            seu equilíbrio interno‖, diz o especialista.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingTen">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen"
                                aria-expanded="false" aria-controls="collapseTen">
                            <h5>Sal melhora a pressão baixa?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Não. ―Colocar sal debaixo da língua não faz com que a pressão arterial suba. Para que
                            isso
                            acontecesse, a pessoa teria que ingerir uma grande quantidade de sal por um bom tempo‖,
                            diz
                            o clínico geral Paulo Olzon, chefe da disciplina de clínica médica da Universidade
                            Federal
                            de São Paulo (Unifesp). A crença acontece porque quem sofre de pressão alta deve
                            reduzir a
                            ingestão de sal. E, no imaginário popular, a situação inversa seria verdadeira – quem
                            tem
                            pressão baixa melhoraria consumindo sal.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingEleven">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven"
                                aria-expanded="false" aria-controls="collapseEleven">
                            <h5>Quando ficamos “tontos” ou com mal estar é porque a pressão baixou?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            ―Nem todo mal-estar e tontura pode ser confundido com pressão baixa‖, explica o
                            nefrologista
                            Agostinho Tavares, da Unifesp. Esses sintomas são comuns em outros males, como a
                            hipoglicemia – redução do nível de açúcar no sangue. De acordo com o especialista, não
                            há
                            um limite numérico que defina com clareza a pressão baixa. Se uma pessoa tem pressão 9
                            por
                            6, por exemplo, e não sofre de sintomas como taquicardia, tontura, suor excessivo,
                            visão
                            turva ou palidez, a pressão é perfeitamente normal. No entanto, se a pressão arterial
                            costuma, de fato, cair com persistência, a pessoa deve procurar um médico para ver o
                            que
                            está acontecendo. E, no momento em que ocorre a crise, a atitude mais indicada é deitar
                            quem está passando mal num ambiente de temperatura agradável.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingTwelve">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve"
                                aria-expanded="false" aria-controls="collapseTwelve">
                            <h5>Susto cura soluço?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Sim. O soluço é resultado de uma contração involuntária do diafragma, um fino músculo
                            localizado logo abaixo do pulmão, responsável pelo controle da respiração. Seu
                            movimento de
                            contração e relaxamento permite que inspiremos e expiremos o ar. ―Os incômodos ‗hic,
                            hic‘
                            surgem a partir de uma irritação do nervo frênico, cujas causas nem sempre são
                            conhecidas.
                            Quando ele fica irritado (ou sensibilizado), ‗manda‘ o diafragma se contrair,
                            disparando o
                            soluço‖, diz o clínico geral Arnaldo Lichtenstein, do Hospital das Clínicas de São
                            Paulo.
                            Mas, e o que um susto tem a ver com tudo isso? Simples: quando levamos um susto,
                            provocamos
                            uma forte inspiração, levando a um aumento do volume de ar nos pulmões. ―Os pulmões
                            pressionam o diafragma, fazendo com que ele se estique e volte a funcionar
                            normalmente‖,
                            diz o especialista. Mas existem maneiras menos drásticas que também funcionam: tomar um
                            copo d‘água com nariz tampado ou inspirar e segurar o ar por alguns instantes.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingThirteen">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen"
                                aria-expanded="false" aria-controls="collapseThirteen">
                            <h5>Quando se deve usar compressa quente ou compressa fria?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            As compressas frias devem ser usadas logo após sofrermos um trauma, como torções no
                            tornozelo, contusões nas pernas e braços ou extração de dentes. Sua aplicação imediata
                            ajuda a reduzir o inchaço no local, alivia a dor e evita o surgimento de hematomas. O
                            gelo
                            não deve ser colocado diretamente na pele nem ficar tempo excessivo, pois pode causar
                            queimaduras – o melhor é colocá-lo dentro de um saco plástico ou envolvê-lo numa
                            toalha.
                            Cerca de 48 horas depois do trauma, pode-se entrar com as compressas quentes. O calor
                            ativa
                            a circulação, tem ação analgésica e ajuda no tratamento de inflamações. Por isso, essas
                            compressas também são indicadas para aliviar cólicas, dores nas costas e nas
                            articulações e
                            inchaço nos pés.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingFourteen">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFourteen"
                                aria-expanded="false" aria-controls="collapseFourteen">
                            <h5>A depressão só atinge um grupo específico de pessoas?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Não. A depressão pode ocorrer tanto em homens como em mulheres, de todas as idades e de
                            qualquer classe social. No entanto, a incidência é muito maior entre as mulheres do que
                            entre os homens (a proporção é de dois casos entre elas para cada caso entre eles).
                            Entre
                            os indivíduos que também apresentam maior risco de desenvolver a doença estão as
                            pessoas
                            com casos de depressão na família, usuários de drogas, medicamentos e álcool, e
                            mulheres
                            nos dezoito meses seguintes a um parto.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingFifteen">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFifteen"
                                aria-expanded="false" aria-controls="collapseFifteen">
                            <h5>O estresse faz mal para o funcionamento do coração?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Se você esta sempre correndo, estressado, a ponto de estourar... pode apostar: está a
                            caminho de entrar na mira das doenças do coração. Para evitá-las, não há remédio que
                            resolva. É preciso, antes de qualquer coisa, melhorar sua qualidade de vida. Então,
                            mude
                            sua atitude para combater o estresse. Sim, você tem uma agenda cheia, mil compromissos,
                            prazos apertados. Mas isso não pode ser desculpa para descuidar da saúde! Aprenda a
                            organizar melhor seu tempo e faça caber, no seu horário, um tempo para você. Aprenda a
                            relaxar, durma bem, reserve um tempo com família e amigos e não coloque o trabalho
                            acima de
                            tudo. Não existe uma fórmula mágica: o importante é você se sentir bem com você mesmo e
                            não
                            sobrecarregar seu coração com problemas.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingSixteen">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSixteen"
                                aria-expanded="false" aria-controls="collapseSixteen">
                            <h5>
                                Aparelhos anunciados na TV realmente acabam com as gordurinhas localizadas no
                                abdomem,    deixando-o sarado?
                            </h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Não. Os aparelhos anunciados para exercitar o abdome, fortalecem a musculatura, mas
                            sozinhos
                            não deixam a sua barriga sarada. Para perder a gordura localizada na barriga e ter um
                            abdome bonito não basta realizar apenas os exercícios abdominais. É preciso fazer uma
                            dieta
                            alimentar balanceada, fazer exercícios aeróbios de 5 a 6 vezes por semana, com duração
                            entre 30 e 60 minutos, com intensidade de moderada a forte ou abdominais 3 vezes por
                            semana
                            e cuidar também da postura.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingSeventeen">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeventeen"
                                aria-expanded="false" aria-controls="collapseSeventeen">
                            <h5>Sentir cãibras significa falta de cálcio?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Há muita controvérsia a esse respeito — já que não se consegue provocar cãibras no
                            laboratório. Elas são contrações involuntárias e dolorosas dos músculos e aparecem
                            geralmente pela falta de alguma substância: água, sódio, potássio, oxigênio, glicose ou
                            até
                            mesmo cálcio. ―Tensão e contusões também causam o problema‖, garante o paulista Victor
                            Matsudo, coordenador do programa Agita São Paulo. Até o frio pode provocar cãibras,
                            pois
                            restringe a circulação. O cálcio, além de ser um importante componente dos ossos,
                            participa
                            da membrana muscular. Se ele está em baixa, de fato aparecem as cãibras. Para
                            evitá-las,
                            portanto, uma boa alimentação é essencial. O cálcio está presente no leite e nos seus
                            derivados. O sódio é encontrado no sal e o potássio pode ser obtido na banana e na
                            água-de-coco.
                        </p>
                    </div>
                </div>
            </div>

        </div>




    </div>
</div>
