
@{
    ViewBag.Title = "DoacaoSangue";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Doação de Sangue</h1>
        <p class="lead">S de Saúde - Tudo o que você precisa saber!</p>
        <hr class="my-2">
    </div>
</div>


<div class="container">

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        <h5>Ao doar sangue, quanto tempo leva para o organismo repor o sangue que foi doado?</h5>
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p>O organismo repõe o volume de sangue doado nas primeiras 24 horas após a doação.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                        <h5>Doar sangue engorda ou faz emagrecer?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Ao doar sangue você não engorda nem emagrece.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                        <h5>Doar sangue engrossa ou afina o sangue?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Não engrossa nem afina o sangue, é apenas um mito.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="true" aria-controls="collapseFour">
                        <h5>Grávidas podem doar sangue?</h5>
                    </button>
                </h2>
            </div>

            <div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Não. Mas se o parto for normal, a mulher pode doar depois de três meses. Em caso de
                        cesariana, após seis meses. Se estiver amamentando, aguardar 12 meses após o parto.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                        <h5>Fiz uma tatuagem há 2 anos. Posso doar sangue?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Sim. Você pode doar após um ano de ter feito a tatuagem.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
                            aria-expanded="false" aria-controls="collapseSix">
                        <h5>É necessário estar em jejum para doar sangue?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        O doador não deve estar em jejum. Tem que estar alimentado e descansado, evitar alimentação
                        gordurosa nas quatro horas que antecedem a doação.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingSexen">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven"
                            aria-expanded="true" aria-controls="collapseSeven">
                        <h5>Doar sangue vicia?</h5>
                    </button>
                </h2>
            </div>

            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Não. Se a pessoa parar de doar não sofrerá nenhum reflexo físico por essa decisão.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingEight">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight"
                            aria-expanded="false" aria-controls="collapseEight">
                        <h5>Quem tem diabetes pode doar sangue?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Se a pessoa que tenha diabetes estiver controlando apenas com alimentação ou
                        hipoglicemiantes orais e não apresente alterações vasculares, poderá doar. Caso ela tenha
                        utilizado insulina uma única vez, não poderá doar.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingNine">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine"
                            aria-expanded="false" aria-controls="collapseNine">
                        <h5>O que se consegue em troca da doação de sangue?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                <div class="card-body">
                    <p>A satisfação de saber que a cada doação poderá ajudar a salvar até quatro vidas.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingTen">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTen"
                            aria-expanded="true" aria-controls="collapseTen">
                        <h5>Por que o sangue é vermelho?</h5>
                    </button>
                </h2>
            </div>

            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        O sangue é vermelho porque as hemácias (glóbulos vermelhos) contêm hemoglobina. A
                        hemoglobina é responsável pelo transporte de oxigênio e é ela que dá a cor vermelha ao
                        sangue.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingEleven">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven"
                            aria-expanded="false" aria-controls="collapseEleven">
                        <h5>Por que os hemocentros trabalham tanto para ter doadores voluntários e habituais?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Porque o doador voluntário e habitual, pelo seu hábito de vida, é o que apresenta menos
                        chance de contrair e transmitir doenças através do sangue. Além disso, a habitualidade da
                        doação mantém os estoques de sangue em níveis constantes, sem colocar em risco o
                        abastecimento de sangue para os hospitais.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingTwelve">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve"
                            aria-expanded="false" aria-controls="collapseTwelve">
                        <h5>A mulher pode doar durante o período menstrual?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Sim, desde que esteja se sentido bem.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingThirteen">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen"
                            aria-expanded="false" aria-controls="collapseThirteen">
                        <h5>
                            O que são situações de risco acrescido para se transmitir doenças através da doação de
                            sangue?
                        </h5>
                    </button>
                </h2>
            </div>
            <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Ter múltiplos parceiros sexuais ocasionais ou eventuais, usar drogas ilícitas, ter feito
                        sexo em troca de dinheiro ou droga, ter sido vítima de estupro, se você é parceiro sexual
                        de pessoa que tenha exame reagente para infecções de transmissão sexual e sanguínea, se seu
                        parceiro sexual pertence a alguma das situações acima, dentre outras.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingFourteen">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFourteen"
                            aria-expanded="false" aria-controls="collapseFourteen">
                        <h5>Quanto tempo dura à doação?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        O procedimento todo (cadastro, triagem clínica, aferição de sinais vitais, teste de anemia,
                        voto de auto exclusão, coleta do sangue e lanche) leva cerca de 40 minutos.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingFifteen">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFifteen"
                            aria-expanded="false" aria-controls="collapseFifteen">
                        <h5>Quanto tempo leva para o organismo repor o sangue doado?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordionExample">
                <div class="card-body">
                    <p>O organismo repõe o volume de sangue doado nas primeiras 24 horas após a doação.</p>
                </div>
            </div>
        </div>
    </div>








</div>




