
@{
    ViewBag.Title = "ExamesSaudeOcupacional";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Exames de Saúde Ocupacional</h1>
        <p class="lead">Programação de Atendimento aos Exames de Saúde Ocupacional</p>
        <hr class="my-2">

    </div>
</div>





<div class="container">

    <h3>PROGRAMAÇÃO DE ATENDIMENTO AOS EXAMES DE SAÚDE OCUPACIONAL DO PCMSO PARA OS EMPREGADOS DA CEMIG </h3>
    <p>
        O objetivo fundamental do PROGRAMA DE CONTROLE MÉDICO DE SAÚDE OCUPACIONAL - PCMSO é promover e preservar a saúde
        dos empregados da Cemig.
    </p>

    <p>
        Os exames de Saúde Ocupacional obrigatórios compreendem a avaliação clínica e os exames complementares definidos
        em Normas externas e internas:
    </p>

    - Admissional: realizado antes que o empregado assuma suas atividades.<br>


    - Periódico (Inventário Periódico de Saúde - IPS): cuja periodicidade varia de acordo com as condições de trabalho.<br>


    - Demissional: realizado ater a data da homologação.<br>


    - De Mudança de Função: quando há mudança na exposição aos fatores de risco para a saúde - antes da data da
    mudança.<br>


    - De Retorno ao Trabalho: após afastamento igual ou superior a 30 dias, no primeiro dia de retorno.<br>
    <br>


    <h3>Programação do Atendimento ao IPS na Região Metropolitana</h3>
    <p>
        A programação do atendimento mensal nas Unidades de Saúde e Bem-estar da Região Metropolitana é realizada por
        meio eletrônico considerando-se o final do Número de Pessoal dos empregados, conforme relacionado:
    </p>
    <br />
    <h5>Mês do Ano Final NP </h5>
    Fevereiro 2 <br>
    Março 3 <br>
    Abril 4 <br>
    Maio 5 <br>
    Junho 6 <br>
    Agosto 8 <br>
    Setembro 9 <br>
    Outubro 0 <br>
    Novembro 1 <br>
    Dezembro 7 <br>
    <br>

    <h3>Programação do Atendimento ao IPS no Interior</h3>
    <p>
        A programação do atendimento mensal nas Unidades de Saúde e Bem-estar do Interior é realizada, considerando-se:
    </p>

    • Os prazos estabelecidos no documento-base do PCMSO <br>

    • a disponibilidade de horários da equipe <br>

    • as reservas para o atendimento aos demais exames do PCMSO <br>

    • os deslocamentos para atendimento em outras localidades <br>

    • a disponibilidade dos empregados convocados, conforme prévio entendimento com as gerências dos mesmos. <br>
    <br />

    <h3>Programação do Atendimento aos Demais Exames do PCMSO</h3>
    <p>
        Os exames Admissionais, Retorno ao trabalho, Mudança de Função e Demissionais são programados, em todas as
        Unidades de Saúde e Bem-estar, conforme demanda, quando do recebimento do formulário “Pedido de Avaliação de
        Saúde” – SESMT-2015, priorizando-se a solicitação. As Guias de Exames e os ASO’s são emitidos no momento da
        realização dos mesmos.
    </p>
    <br />

    <h3>PROGRAMAÇAO DO ATENDIMENTO AOS EXAMES ESPECIAIS DE SAÚDE</h3>
    Os exames empresariais são agendados, em todas as Unidades de Saúde e Bem-estar, conforme demanda, após agendamento
    prévio pelos órgãos solicitantes e do recebimento do formulário “Pedido de Avaliação de Saúde” – SESMT-2015,
    priorizando-se a solicitação.
    <br>
    <br>

    <h3>DISTRIBUIÇÃO DOS PEDIDOS DE EXAMES COMPLEMENTARES</h3>
    Os pedidos de exames complementares, previstos no Documento-base do PCMSO, são encaminhados aos empregados de apoio
    dos órgãos regionais, via malote, preferencialmente, com antecedência suficiente à realização dos exames para o
    atendimento médico programado.
</div>