
@{
    ViewBag.Title = "Hipertensao";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hipertensão Arterial</h1>
        <p class="lead">S de Saúde - Tudo o que você precisa saber</p>
        <hr class="my-2">

    </div>
</div>


<div class="container">

    <div class="container">

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            <h5>Porque uma pessoa desenvolve hipertensão?</h5>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Apesar de ser uma doença que em 90% das vezes é herdada dos pais, ela apresenta outros
                            fatores desencadeantes, como o tabagismo, o consumo de bebidas alcoólicas, obesidade,
                            estresse, sedentarismo, consumo exagerado de sal e colesterol alto.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            <h5>Tem como prevenir a hipertensão?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            A hipertensão é uma doença que não tem cura, somente controle através de tratamento e
                            acompanhamento médico. A melhor forma de evita-la é através da prevenção. Sua prevenção
                            se dá através de um estilo de vida saudável, com a prática diária de atividade física,
                            manter um bom hábito alimentar, evitar alimentos gordurosos, manutenção do peso
                            adequado, controle de diabetes, ingestão de pouca quantidade de sal, não fumar, não
                            beber e procurar aproveitar os momentos de lazer.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            <h5>Quais são os sintomas da hipertensão arterial?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Segundo o Dr. Pedro Pinheiro, médico formado pela UFRJ, um dos grandes problemas da
                            hipertensão arterial é o fato desta ser assintomática até fases avançadas. Não existe
                            um sintoma típico que possa servir de alarme. Achar que é possível estimar se a pressão
                            arterial está alta ou normal baseado na presença ou na ausência de sintomas, como dor
                            de cabeça, cansaço, dor no pescoço ou palpitações, é um erro muito comum. Um indivíduo
                            que não costuma medir sua pressão arterial simplesmente porque não tem nenhum sintoma,
                            pode muito bem ser hipertenso e não saber. Por outro lado, se o paciente é sabidamente
                            hipertenso, mas também não mede a pressão arterial periodicamente, pode ter a falsa
                            impressão de tê-la controlada.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="true" aria-controls="collapseFour">
                            <h5>Com que frequência devemos medir a pressão arterial?</h5>
                        </button>
                    </h2>
                </div>

                <div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Todo indivíduo adulto deve pelo menos uma vez a cada um ou dois anos medir sua pressão
                            arterial. Se o paciente for obeso, fumante, diabético ou se tiver história familiar de
                            hipertensão arterial, a pressão deve ser medida com uma periodicidade maior, cerca de
                            duas vezes por ano. Já os pacientes sabidamente hipertensos devem medir a pressão
                            arterial pelo menos uma vez por semana para saber se a hipertensão está bem controlada.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                            <h5>Quais são as consequências da hipertensão não controlada?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            A hipertensão está associada a diversas doenças graves como, Insuficiência cardíaca;
                            Infarto do miocárdio; Perda da visão (retinopatia hipertensiva); Insuficiência renal
                            crônica; etc. A hipertensão arterial raramente tem cura e o objetivo do tratamento é
                            evitar que órgãos como coração, olhos, cérebro e rins, chamados de órgãos alvo, sofram
                            lesões que causem as doenças descritas acima. As lesões iniciais da são assintomáticas,
                            porém, existem exames que podem detectá-las precocemente.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
                                aria-expanded="false" aria-controls="collapseSix">
                            <h5>O que é e como ocorre a urgência hipertensiva?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            A urgência hipertensiva ocorre quando os níveis tensionais estão muito elevados,
                            normalmente acima de 180 x 120 mmHg, mas não há sintomas ou lesões agudas de órgãos.
                            Essa elevação pressórica geralmente está associada, na maioria das vezes, à suspensão
                            de anti-hipertensivos sem consultar um médico ou a situações de estresse agudo. O
                            indivíduo deve procurar o mais rápido o atendimento de saúde. Na urgência hipertensiva,
                            nem sempre há necessidade de hospitalização e a pressão pode ser reduzida
                            gradativamente ao longo de 24-48 horas.
                        </p>
                    </div>
                </div>
            </div>
            <br>

        </div>

    </div>
</div>
