
@{
    ViewBag.Title = "InfosVacinacao";
}

<!-- #Jumbotron-->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Vacinações</h1>
        <p class="lead">Informações sobre as Vacinações</p>
        <hr class="my-4">

    </div>
</div>

