
@{
    ViewBag.Title = "Obesidade";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Obesidade</h1>
        <p class="lead">S de Saúde - Tude que você precisa saber</p>
        <hr class="my-2">

    </div>
</div>


<div class="container">

    <div class="container">

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            <h5>Como definir obesidade? Ela pode ser considerada uma doença?</h5>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            A obesidade pode ser definida como um índice de massa corporal (IMC) acima de 25.
                            Quando esse índice está acima de 40, ela é definida como mórbida. Este número é
                            obtido dividindo-se o peso em quilogramas pela altura em metros ao quadrado. Sem
                            dúvida, a obesidade pode ser considerada uma doença e, nos dias atuais, uma epidemia
                            que só vai aumentar. O tratamento preventivo é a melhor solução. A cirurgia bariátrica
                            tem se apresentado como a melhor solução para os casos de obesidade mórbida.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            <h5>Como calcular o peso ideal?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            O cálculo do peso ideal utiliza os seguintes parâmetros: idade, sexo, altura, atividade
                            física, cálculo da quantidade de água corporal, da massa magra corporal (peso dos
                            ossos, músculos e órgãos), cálculo da quantidade de tecido gorduroso do organismo.
                            Outra forma de se avaliar genericamente o peso ideal é o cálculo do Índice de Massa
                            Corporal (IMC) . Siga a seguinte equação:
                            IMC = peso em kg/altura em metros ao quadrado
                            A partir desse cálculo, siga a seguinte tabela para avaliação:
                            Peso saudável: IMC de 18 a 24,9,
                            Sobrepeso: IMC de 25 a 29,9,
                            Obesidade de Grau I: IMC de 30 a 34, 9,
                            Obesidade de Grau II: IMC de 35 a 39,9,
                            Obesidade de Grau III: IMC de 40 ou mais.
                            Com relação a riscos de doenças associadas a obesidade, a pré-obesidade é considerada
                            risco moderado, a obesidade de grau I alto risco, a obesidade de grau II risco muito
                            alto
                            e a obesidade de grau III risco extremo.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            <h5>A pessoa é obesa porque come muito?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Não necessariamente! Pesquisas recentes mostram que isso nem sempre é verdade. O
                            excesso de peso, isto é, o excesso de gordura corporal é decorrente do desequilíbrio
                            entre o que uma pessoa come e quanto o seu organismo elimina como energia
                            necessária para o funcionamento do nosso corpo. É claro que existe a obesidade
                            resultante de uma grande ingestão alimentar, porém existem pessoas que apesar de
                            ingerirem uma quantidade considerada normal de alimentos tem um gasto energético
                            diminuído e, portanto engordam mais facilmente que as demais, devido principalmente
                            a seu metabolismo.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="true" aria-controls="collapseFour">
                            <h5>Quais são os problemas hormonais que causam obesidade?</h5>
                        </button>
                    </h2>
                </div>

                <div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Na maioria das vezes, a obesidade é devida a problemas dietéticos e metabólicos e à
                            inatividade física. As doenças glandulares podem estar associadas à obesidade, mas não
                            são tão frequentes. São elas: Hipotireoidismo (mau funcionamento da tireoide), Ovários
                            policísticos, deficiência do hormônio do crescimento, etc. Devemos também lembrar
                            que a obesidade pode ser ocasionada pelo uso de certos medicamentos, entre os quais os
                            psicotrópicos, cortisona, antidepressivos tricíclicos e o lítio. Existem também várias
                            síndromes genéticas que causam a obesidade.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                            <h5>
                                Por que as pessoas voltam a engordar depois de fazer regime ou um
                                tratamento contra a obesidade?
                            </h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Após um período breve de alguns meses em emagrecimento o paciente obeso, agora
                            magro, começa a viver uma nova realidade e, se não for trabalhada uma terapia
                            comportamental, começa lentamente um processo de desânimo. Forças contrárias ao
                            tratamento passam a ser valorizadas pelo paciente nessa fase. Exemplos disso são
                            comentários negativos da família, pressão dos amigos, férias de verão, festas,
                            distância
                            geográfica do médico, problemas financeiros, excesso de trabalho, etc. O paciente acha
                            que pode se cuidar sozinho, mas, sem perceber começa a abandonar o médico, depois as
                            caminhadas e por fim a própria dieta. Aquele período pequeno em que ele, sem
                            tratamento, mantém seu peso serve de justificativa para ele não retornar ao médico… e ,
                            assim, a recaída está instalada. Alguns meses depois, com o paciente novamente obeso,
                            o sentimento de culpa, remorso, depressão voltam e o paciente inicia o processo
                            novamente de querer emagrecer.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
                                aria-expanded="false" aria-controls="collapseSix">
                            <h5>Como se desenvolve ou se adquire a obesidade?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Nas diversas etapas do seu desenvolvimento, o organismo humano é o resultado de
                            diferentes interações entre o seu patrimônio genético, o ambiente socioeconômico,
                            cultural e educativo e o seu ambiente individual e familiar. A obesidade é o resultado
                            de
                            diversas dessas interações. Assim, filhos com ambos os pais obesos apresentam alto
                            risco de obesidade, bem como determinadas mudanças sociais estimulam o aumento de
                            peso em todo um grupo de pessoas. Recentemente, vem se acrescentando uma série de
                            conhecimentos científicos referentes aos diversos mecanismos pelos quais se ganha
                            peso, demonstrando cada vez mais que essa situação se associa, na maioria das vezes,
                            com diversos fatores. Independente disso, o ganho de peso está sempre associado a um
                            aumento da ingesta alimentar e a uma redução do gasto energético. O aumento da
                            ingesta pode ser decorrente da quantidade de alimentos ingeridos ou de modificações de
                            sua qualidade, resultando numa ingesta calórica total aumentada. O gasto energético,
                            por sua vez, pode estar associado a características genéticas ou ser dependente de uma
                            série de fatores clínicos e endócrinos, incluindo doenças nas quais a obesidade é
                            decorrente de distúrbios hormonais.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven"
                                aria-expanded="true" aria-controls="collapseSeven">
                            <h5>Quais os problemas físicos mais comuns ocasionados pela obesidade?</h5>
                        </button>
                    </h2>
                </div>

                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Os problemas desencadeados pela obesidade são inúmeros e vão desde a limitação física
                            a trabalhos básicos e à locomoção, até distúrbios mais graves, como o aumento do
                            colesterol, do triglicérides e da pressão arterial, diabetes, gota, artrose,
                            coronariopatia,
                            insuficiência renal, apnéia noturna do sono, esteatose hepática, insuficiências
                            glandulares, entre outros.
                        </p>
                    </div>
                </div>
            </div>
            <br>

        </div>

    </div>
</div>
