
@{
    ViewBag.Title = "Saude Bucal";
}


<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Saúde Bucal</h1>
        <p class="lead">S de Saúde - Tudo o que você precisa saber</p>
        <hr class="my-2">

    </div>
</div>


<div class="container">

    <div class="container">

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            <h5>O que é Halitose ou Mau Hálito?</h5>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            A Halitose é o nome científico do Mau Hálito. Apesar de ser conhecida há muito tempo
                            pela humanidade, a halitose somente começou a ser estudada profundamente há
                            algumas décadas, através de pesquisas de vários cientistas ao redor do mundo.
                            Provocada por cerca de 50 causas diferentes, a halitose pode ser tanto um fenômeno
                            considerado normal (por exemplo quando acordamos), quanto sinal de doenças graves
                            (leucemia, por exemplo).
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            <h5>Gatrite provoca mau hálito?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Não. Ao contrário do que todos pensam, dificilmente algum problema estomacal
                            provoca mau hálito. Isto é comprovado cientificamente.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            <h5>Mau Hálito é sinal de má higiene?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Nem sempre. Ao contrário do que todos pensam a maioria dos pacientes com halitose
                            têm ótima higiene.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="true" aria-controls="collapseFour">
                            <h5>Fazer bochechos resolve o problema do mau hálito?</h5>
                        </button>
                    </h2>
                </div>

                <div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Não. Nenhum antisséptico bucal existente no mercado elimina o mau hálito. Aliás, a
                            maioria deles somente mascara o cheiro nos primeiros minutos. Cerca de meia hora
                            depois o cheiro ruim volta a prevalecer. Muitos antissépticos também contêm álcool, o
                            que piora o hálito ao longo do tempo.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                            <h5>Chupar balas ou mastigar chicletes diminui o mau hálito?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Depende. Chupar balas e mascar chicletes estimula a produção de saliva, o que
                            normalmente melhora o hálito, porém, dependendo da origem do problema (existem
                            cerca de 60 causas diferentes para o mau hálito), isto pode ser inútil. Mascar
                            chicletes
                            ou chupar balas para mascarar o mau cheiro do hálito não é uma boa idéia devido ao
                            alto teor de açúcar presente em alguns destes alimentos, o que pode provocar o
                            surgimento de cáries e excesso de peso. O ideal é fazer um tratamento correto e
                            combater a causa do problema.
                        </p>
                    </div>
                </div>
            </div>
            <br>





        </div>


    </div>
</div>