
@{
    ViewBag.Title = "SaudeTrabalho";
}


<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Saúde no Trabalho</h1>
        <p class="lead">S de Saúde - Tudo que você precisa saber!</p>
        <hr class="my-2">

    </div>
</div>


<div class="container">

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        <h5>O que é saúde ocupacional?</h5>
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        A saúde ocupacional tem como objetivos a promoção e manutenção, no mais alto grau, do
                        bem estar físico, mental e social dos trabalhadores em todas as ocupações; a prevenção,
                        entre os trabalhadores de doenças ocupacionais causadas por suas condições de trabalho; a
                        proteção dos trabalhadores em seus empregos, dos riscos resultantes de fatores adversos à
                        saúde; a colocação e conservação (manutenção) dos trabalhadores nos ambientes
                        ocupacionais adaptados às suas aptidões fisiológicas e psicológicas.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                        <h5>O que é o PCMSO?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        O Programa de Controle Médico de Saúde Ocupacional (PCMSO) é definido pela Norma
                        Regulamentadora número 07 do Ministério do Trabalho e Emprego. Este programa visa à
                        prevenção, o rastreamento e o diagnóstico precoce de problemas de saúde relacionados ao
                        trabalho. O PCMSO é obrigatório para todas as empresas, independente do número de
                        funcionários e do ramo de atividade, e faz parte de um conjunto mais amplo de iniciativas
                        previstas em outras normas regulamentadoras que, juntas, visam à preservação da saúde do
                        trabalhador.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                        <h5>O que é o PPRA?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        O Programa de Prevenção de Riscos Ambientais (PPRA) visa à preservação da integridade
                        física e da saúde dos trabalhadores por meio de medidas que permitam antecipar, reconhecer
                        e avaliar possíveis riscos existentes ou que venham a existir no ambiente de trabalho. O
                        PPRA é um pré-requisito para a elaboração do PCMSO, visto que só a partir do
                        conhecimento minucioso do ambiente de trabalho é que o médico pode avaliar quais são os
                        procedimentos médicos adequados para cada empregado.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="true" aria-controls="collapseFour">
                        <h5>O que é o Programa Energia Vital?</h5>
                    </button>
                </h2>
            </div>

            <div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        É uma iniciativa da Cemig que propõe uma vida mais saudável, a partir da mudança de
                        hábitos e estilo de vida. São incentivadas a prática de esportes, a adoção de uma dieta
                        mais
                        equilibrada e adequada e o abandono do cigarro e das bebidas alcoólicas. Não basta fazer
                        exames para avaliar a saúde. É preciso tomar atitudes para melhorá-la e para prevenir o
                        surgimento de doenças.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                        <h5>O que é o exame admissional e o exame periódico?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        O exame admissional é realizado antes dos empregados assumirem suas atividades na
                        empresa. Já o exame periódico conhecido como IPS (Inventário Periódico de Saúde), deve
                        ser realizado anualmente para os empregados menores de 18 e maiores de 45 anos;
                        empregados portadores de doenças crônicas e aqueles que exercem atividades que a médio
                        ou a longo prazos, podem acarretar algum tipo de dano à saúde. Deve ser bienal para os
                        empregados entre 18 e 45 anos, que não apresentam nenhum tipo de doença crônica e não
                        estão sujeitos a desenvolver distúrbios em função da atividade exercida.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
                            aria-expanded="false" aria-controls="collapseSix">
                        <h5>O Inventário Periódico de Saúde ou IPS é a mesma coisa que um “check-up”?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Segundo a Dra. Luisa Alves Basques, uma das médicas do trabalho da Cemig, o Inventário
                        Periódico de Saúde – IPS é um dos exames do Programa de Controle Médico de Saúde
                        Ocupacional – PCMSO, definido pela NR 7. É através da realização do IPS que, tanto o
                        empregado quanto a Empresa, recebem o laudo final de aptidão ou não para o trabalho, pela
                        emissão do Atestado de Saúde Ocupacional - ASO e recebe também as medidas higiênicas
                        necessárias à manutenção da saúde e da qualidade de vida, com parâmetros acima dos
                        encontrados na população geral, permitindo-lhe trabalhar com segurança e bem-estar. O IPS
                        é, portanto, uma ferramenta importante que avalia o estado de saúde do empregado visando
                        identificar possíveis alterações relacionadas com a atividade laborativa e/ou com o
                        ambiente
                        de trabalho.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingSexen">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven"
                            aria-expanded="true" aria-controls="collapseSeven">
                        <h5>O que deve ser feito pelo médico para garantir a qualidade do IPS?</h5>
                    </button>
                </h2>
            </div>

            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        O médico deverá realizar exame clínico completo: verificar pressão arterial, auscultar o
                        coração e pulmão, palpar o abdômen, medir sua altura, pesá-lo (a), avaliando e orientando
                        sobre seu Índice de Massa Corpórea – IMC; orientar sobre os programas do Energia Vital e
                        inscrevê-lo, caso se enquadre nos critérios de inclusão; questionar sobre os hábitos de
                        vida,
                        estado de saúde atual e suas atividades e riscos no trabalho; e orientar sobre os
                        resultados
                        dos exames complementares realizados durante o IPS.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingEight">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight"
                            aria-expanded="false" aria-controls="collapseEight">
                        <h5>O que deve ser feito pelo empregado para garantir a qualidade do IPS?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        O empregado deverá realizar todos os exames complementares solicitados com antecedência
                        de acordo com as datas estabelecidas na guia do IPS; realizar os exames complementares
                        apenas nas clínicas credenciadas pela Cemig Saúde; estar presente no dia e horário
                        estabelecidos na convocação para a realização do IPS; em caso de impossibilidade de
                        realização de algum exame ou de consulta, informar ao serviço médico da Empresa com
                        antecedência mínima de 24 horas. O empregado poderá ainda questionar o médico sobre
                        dúvidas relacionadas aos exames realizados e sobre orientações de saúde relacionadas ao
                        desempenho de suas funções.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingNine">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine"
                            aria-expanded="false" aria-controls="collapseNine">
                        <h5>
                            O que são os exames de retorno ao trabalho, de mudança de função e
                            demissional?
                        </h5>
                    </button>
                </h2>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        O exame de retorno ao trabalho deve acontecer em caso de afastamento por um período
                        igual ou superior a 30 dias, em decorrência de doença, acidente ou licença maternidade. É
                        obrigatória a realização de avaliação clínica do empregado no primeiro dia de trabalho,
                        para
                        avaliar as condições para o exercício de sua função. Além do afastamento maior que 30 dias,
                        acontece também para casos onde a causa de afastamentos menores possam interferir nas
                        atividades do empregado.
                        Pela NR7, mudança de função é toda e qualquer alteração de atividade, posto ou ambiente
                        de trabalho que implique exposição a risco não existente anteriormente. Nessas condições,
                        torna-se obrigatória a realização de avaliação clínica, antes da exposição ao risco, com o
                        intuito de verificar se aquele risco pode causar algum dano à saúde do empregado.
                        O exame demissional é obrigatoriamente realizado ante do desligamento do empregado. É
                        realizado na demissão e visa documentar as condições de saúde do funcionário neste
                        momento.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingTen">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTen"
                            aria-expanded="true" aria-controls="collapseTen">
                        <h5>O empregado pode se recusar a fazer esses exames?</h5>
                    </button>
                </h2>
            </div>

            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        O PCMSO está previsto nas Leis Trabalhistas. Isso quer dizer que todos os empregados, de
                        todas as áreas da Empresa, estão cobertos por ele e não podem recusar a se submeter às
                        avaliações clínicas nele previstas.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingEleven">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven"
                            aria-expanded="false" aria-controls="collapseEleven">
                        <h5>O que é ASO - Atestado de Saúde Ocupacional?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        É o atestado que define se o funcionário está apto ou inapto para a realização de suas
                        funções dentro da empresa. Para cada exame realizado, o médico emitirá em duas vias o
                        ASO. A primeira via ficará arquivada no local de trabalho inclusive frente de trabalho ou
                        canteiro de obras à disposição da fiscalização do trabalho. A segunda via será
                        obrigatoriamente entregue ao trabalhador mediante recibo na primeira via. Este documento é
                        de extrema importância, pois além da identificação completa do trabalhador, o número de
                        identidade, a função exercida, os riscos que existem na execução de suas tarefas,
                        procedimentos médicos a que foi submetido, ou seja, informações completas sobre a saúde
                        do funcionário deixando o mesmo e a empresa cientes de sua atual condição.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingTwelve">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve"
                            aria-expanded="false" aria-controls="collapseTwelve">
                        <h5>O que caracteriza um acidente como acidente do trabalho?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        De acordo com a Lei n°. 8.213, de 24 de julho de 1991, alterada pelo Decreto n°. 611, de 21
                        de julho de 1992, no artigo 19°: Acidente do Trabalho é aquele que ocorre pelo exercício do
                        trabalho, a serviço da empresa ou ainda, pelo serviço de trabalho de segurados especiais,
                        provocando lesão corporal ou perturbação funcional que cause a morte, a perda ou redução
                        da capacidade para o trabalho, permanente ou temporária. São considerados, ainda, como
                        acidentes do trabalho, os acidentes de trajeto, as doenças profissionais e as doenças do
                        trabalho.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingThrirteen">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen"
                            aria-expanded="false" aria-controls="collapseThirteen">
                        <h5>O que um trabalhador sedentário deve fazer para se manter saudável?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Abandonar o sedentarismo o quanto antes. Não existe receita mágica: aliar a atividade física
                        a uma alimentação saudável, hidratação adequada e bons hábitos de vida com redução de
                        estresse é um caminho acertado. Segundo a OMS, o sedentarismo é hoje o quarto maior
                        fator de risco de mortalidade no mundo e agente desencadeador de doenças do coração,
                        diabetes e obesidade. Revela ainda que, pelo menos 21% dos tumores malignos na mama e
                        no cólon, são resultados do sedentarismo. A adoção de hábitos saudáveis, além de reduzir o
                        cansaço e a falta de concentração, favorece o bem-estar, o bom humor, a melhor autoestima
                        e um encontro com o prazer, assim como a satisfação na vida e no trabalho.
                    </p>
                </div>
            </div>
        </div>
    </div>






</div>


