
@{
    ViewBag.Title = "SaudeMulher";
}


<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Saúde da Mulher</h1>
        <p class="lead">S de Saúde - Tudo que você precisa saber!</p>
        <hr class="my-2">

    </div>
</div>


<div class="container">

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        <h5>Qual a diferença entre climatério e menopausa?</h5>
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        O climatério corresponde ao período que antecede a menopausa e é caracterizado pelo
                        conjunto de alterações físicas e psicológicas que acompanham a diminuição gradativa
                        da produção hormonal, principalmente do estrogênio. Ele tem início, em geral, após os
                        40 anos. Já a menopausa, que começa por volta dos 50 anos, é a fase na qual ovulação e
                        menstruação cessam totalmente.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                        <h5>Os sintomas da menopausa são iguais para todas as mulheres?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Não. Algumas sofrem muito desconforto, outras passam praticamente ilesas (cerca de
                        25% do total de mulheres nessa fase). Aproximadamente 75% manifestam sintomas,
                        mas nem sempre eles são intensos: a proporção é de que para cada 100 mulheres que
                        entram na menopausa 25 têm sintomas leves, 50 moderados e as 25 restantes passam
                        por grandes desconfortos.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                        <h5>
                            O que é e por que ocorre o fogacho ou “calorão” da menopausa? E, o que
                            fazer para combater esse calor?
                        </h5>
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Trata-se de um calor repentino que provoca rubor, transpiração e até palpitações por
                        alguns segundos. Ataca com frequência durante o sono, o que provoca os suores
                        noturnos, e chega a atrapalhar o descanso. Daí a queixa comum de fadiga. Não existe
                        uma explicação científica comprovada sobre o porquê de ele ocorrer. Uma das hipóteses
                        é que há uma tentativa frustrada do organismo de elevar os estoques de estrogênio. Para
                        baixar a temperatura no momento do fogacho, algumas medidas práticas são: tomar um
                        banho, colocar os pulsos sob água corrente fria, ingerir uma bebida refrescante ou
                        borrifar água pelo rosto. O mais recomendado, porém, é procurar um médico, que pode
                        propor um tratamento adequado para aliviar não só os calores, mas também outros
                        sintomas que possam surgir.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="true" aria-controls="collapseFour">
                        <h5>O que é HPV e qual a sua relação com o câncer do colo do útero?</h5>
                    </button>
                </h2>
            </div>

            <div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        HPV é a sigla em inglês para papiloma vírus humano. Os HPV são vírus da família
                        Papilomaviridae, capazes de provocar lesões de pele ou mucosa. Na maior parte dos
                        casos, as lesões têm crescimento limitado e habitualmente regridem espontaneamente.
                        Existem mais de 200 tipos diferentes de HPV. Eles são classificados em de baixo risco
                        de câncer e de alto risco de câncer. Somente os de alto risco estão relacionados a
                        tumores malignos.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                        <h5>Como os papilomavírus (HPV) podem ser diagnosticados?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        As verrugas genitais encontradas no ânus, no pênis, na vulva ou em qualquer área da
                        pele podem ser diagnosticadas pelos exames urológico (pênis), ginecológico (vulva) e
                        dermatológico (pele). Já o diagnóstico subclínico das lesões precursoras do câncer do
                        colo do útero, produzidas pelos papilomavírus, é feito através do exame citopatológico
                        (exame preventivo de Papanicolaou). O diagnóstico é confirmado através de exames
                        laboratoriais de diagnóstico molecular, como o teste de captura híbrida e o PCR.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
                            aria-expanded="false" aria-controls="collapseSix">
                        <h5>
                            Há algum fator que aumente o risco de a mulher desenvolver câncer do colo
                            do útero?
                        </h5>
                    </button>
                </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Há fatores que aumentam o potencial de desenvolvimento do câncer de colo do útero
                        em mulheres infectadas pelo papilomavírus: número elevado de gestações, uso de
                        contraceptivos orais (pílula anticoncepcional), tabagismo, pacientes tratadas com
                        imunosupressores (transplantadas), infecção pelo HIV e outras doenças sexualmente
                        transmitidas (como herpes e clamídia).
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingSexen">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven"
                            aria-expanded="true" aria-controls="collapseSeven">
                        <h5>Como aliviar a TPM?</h5>
                    </button>
                </h2>
            </div>

            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Segundo o Dr. Sérgio dos Passos Ramos, existem ações que podem aliviar a TPM.
                        Vejam algumas delas abaixo:
                        • Realize atividades que proporcionem bem-estar, como passear no parque;
                        • Faça uma atividade física. Pode ser uma caminhada ao ar livre, andar de
                        bicicleta, nadar ou jogar tênis. Isso ajuda a reduzir a tensão e a melhorar a
                        autoestima;
                        • Evite agendar compromissos importantes para os dias que antecedem a sua
                        menstruação;
                        • Procure se arrumar, mesmo que você não vá sair de casa, isso também ajuda a
                        elevar a sua autoestima;
                        • Afaste os pensamentos negativos, seja otimista e imagine coisas boas;
                        • Procure fazer uma alimentação balanceada com verduras, frutas e legumes;
                        • Diminua o sal, ele ajuda a desencadear os inchaços, pois contribui na retenção
                        de líquidos.
                         Evite café ou refrigerantes do tipo “cola”. A cafeína é um estimulante e pode
                        piorar a TPM.
                         Procure comer alimentos ricos em vitamina B6 (soja, melão, arroz integral,
                        ovos, aveia, amendoim e nozes), vitamina E (soja, óleos vegetais, nozes, couvede-
                        bruxelas, verduras, cereais integrais e ovos) e magnésio (figo, amêndoas,
                        vegetais verde-escuros, banana e frutos do mar). Eles ajudam a aliviar os
                        sintomas da TPM.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <br>





    </div>









</div>