
@{
    ViewBag.Title = "Tabagismo";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Tabagismo</h1>
        <p class="lead">S de Saúde - Tudo que você precisa saber!</p>
        <hr class="my-2">

    </div>
</div>


<div class="container">

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        <h5>
                            Por que cigarros, charutos, cachimbo, fumo de rolo e rapé fazem mal à
                            saúde?
                        </h5>
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Todos esses derivados do tabaco, que podem ser usados nas formas de inalação
                        (cigarro, charuto, cachimbo, cigarro de palha), aspiração (rapé) e mastigação
                        (fumo-derolo),
                        são nocivos à saúde. No período de consumo destes produtos são introduzidas no
                        organismo mais de 4.700 substâncias tóxicas, incluindo nicotina (responsável pela
                        dependência química), monóxido de carbono (o mesmo gás venenoso que sai do
                        escapamento de automóveis) e alcatrão, que é constituído por aproximadamente 48
                        substâncias pré-cancerígenas, como agrotóxicos e substâncias radioativas (que causam
                        câncer).
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                        <h5>Quais são essas substâncias e como elas agem nocivamente?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        A fumaça do cigarro possui uma fase gasosa e uma particulada. A fase gasosa é
                        composta, entre outros, por monóxido de carbono, amônia, cetonas, formaldeído,
                        acetaldeído e acroleína. Algumas destas substâncias produzem irritação nos olhos, nariz,
                        garganta, além, de levar à paralisia dos movimentos dos cílios dos brônquios. A fase
                        particulada contém nicotina e alcatrão, que concentra 43 substâncias cancerígenas.
                        Dentre essas substâncias podemos citar: arsênico, níquel, benzopireno, cádmio,
                        chumbo, além de resíduos de agrotóxicos nos produtos agrícolas, como por exemplo, o
                        DDT, e substâncias radioativas.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                        <h5>Quimicamente, como o cigarro atua em nosso organismo?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        A fumaça do tabaco, durante a tragada, é inalada para os pulmões, distribuindo-se
                        para a circulação sistêmica e chegando rapidamente ao cérebro, entre 7 e 19 segundos.
                        Essa rápida absorção é facilitada pelo grande número de alvéolos pulmonares, pela
                        pequena espessura das paredes alveolares e pela irrigação capilar abundante. Além
                        disso, o fluxo sanguíneo capilar pulmonar é rápido, e todo o volume de sangue do corpo
                        percorre os pulmões em um minuto. Dessa forma, as substâncias inaladas pelos pulmões
                        espalham-se pelo organismo com uma velocidade quase igual a de substâncias
                        introduzidas por uma injeção intravenosa.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="true" aria-controls="collapseFour">
                        <h5>Quais são os riscos na mulher grávida?</h5>
                    </button>
                </h2>
            </div>

            <div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        A mulher grávida que fuma, além de correr o risco de abortar, tem uma maior
                        chance de ter filho de baixo peso, menor tamanho e com defeitos congênitos. Os filhos
                        de fumantes adoecem duas vezes mais do que os filhos de não fumantes.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                        <h5>E os não fumantes, como ficam nessa história?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Basta manter um cigarro aceso para poluir um ambiente com as substâncias
                        tóxicas da fumaça do cigarro. As pessoas passam 80% do seu tempo em ambientes
                        fechados. Ao fim do dia em ambiente poluído, os não fumantes podem ter respirado o
                        equivalente a 10 cigarros. Fumar em ambientes fechados prejudica as pessoas com
                        quem o fumante convive: filhos, esposa, esposo, amigos e colegas de trabalho. Ao
                        respirar a fumaça do cigarro, elas também correm o risco de ter as mesmas doenças que
                        o fumante.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
                            aria-expanded="false" aria-controls="collapseSix">
                        <h5>Qual o primeiro passo para parar de fumar?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        É importante estar ciente dos males que o fumo ocasiona, através de informações
                        científicas, cursos e debates. A maneira de parar de fumar deve ser decidida de acordo
                        com as necessidades individuais. Resumidamente existem duas maneiras para se fazer
                        isso:
                        <strong>Parada Abrupta:</strong> É caracterizada pela suspensão total do cigarro em uma
                        data préestabelecida.
                        Assim, passa-se do número total de cigarros consumidos para nenhum. Se
                        a reposição (adesivos ou chicletes) for ser utilizada, o ideal é começar imediatamente
                        após a interrupção dos cigarros.
                        <strong> Parada Gradual:</strong> este tipo oferece duas possibilidades de redução. Este
                        processo deve
                        durar somente 6 dias. Nesse caso, se a reposição (adesivos ou chicletes) for utilizada só
                        comece a usá-la quando tiver parado totalmente de fumar.
                        <strong>Parada Gradual de Adiamento:</strong> Nesse caso a hora em que se começa a fumar é
                        adiada. Durante seis dias deve-se adiar sempre um pouco mais o início do hábito de
                        fumar.
                        <strong>Parada Gradual de Redução:</strong> Reduz-se o número de cigarros que fuma por dia.
                        Durante seis dias uma programação deve ser feita para que a cada dia se fume menos.
                        O segredo é persistir e se ainda assim retomar o hábito, não se deve desistir, porque a
                        maioria das pessoas que foram bem-sucedidas em abandonar o tabagismo havia tentado
                        por três ou mais vezes.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingSeven">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven"
                            aria-expanded="true" aria-controls="collapseSeven">
                        <h5>
                            Já tentei várias vezes, mas sempre voltei a fumar. Será que um dia
                            conseguirei parar em definitivo?
                        </h5>
                    </button>
                </h2>
            </div>

            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Sim, você conseguirá. Sendo o tabagismo uma dependência química, é esperado
                        que a pessoa faça de 3 a 4 tentativas antes de parar definitivamente. A cada tentativa,
                        você vai conhecendo suas maiores dificuldades e aprendendo a controla-las, sem ter que
                        fumar. Exemplo: você resolve parar de fumar, e ao estar diante de uma situação de
                        estresse, pensa em fumar um cigarro como solução para se acalmar. Com o tempo você
                        vai aprendendo que, além do cigarro não resolver seus problemas, ele está tirando sua
                        saúde.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingEight">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight"
                            aria-expanded="false" aria-controls="collapseEight">
                        <h5>Parar de fumar pode diminuir o risco de sofrer um ataque cardíaco?</h5>
                    </button>
                </h2>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Doenças respiratórias, câncer do pulmão, úlcera... se ainda faltava algum motivo
                        para você parar de fumar, agora não falta mais: o coração também se beneficia, e muito,
                        se você largar o vício. Fumantes têm o dobro de chance de vir a ter doenças
                        cardiovasculares. Precisa dizer mais? Então, saiba que o cigarro é responsável por: 25%
                        do número total de mortes causadas por doença coronariana, angina e infarto do
                        miocárdio; 45% das mortes causadas por doença coronariana na faixa etária abaixo dos
                        60 anos; 45% das mortes por infarto agudo do miocárdio na faixa etária abaixo de 65
                        anos. Se você fuma, não desanime. Após conseguir ficar um único dia sem fumar, seus
                        riscos de ter um ataque cardíaco já diminuem. Cinco anos depois de parar de fumar, o
                        risco de sofrer infarto será igual ao de quem nunca fumou.
                    </p>
                </div>
            </div>

        </div>
    </div>









</div>